
/* Header */
header{
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.175) !important;
  }
  .carousel-supra {
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    background: no-repeat center center;
    background-size: cover;
    position: absolute;
    z-index: 10;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .short{
    height: 70vh !important;
  }
  .carousel-supra-banner {
    height: 70vh;
    min-height: 50vh;
    max-height: 90vh;
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    z-index: 10;
    vertical-align: center;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .carousel-supra-banner .carousel-text{
    height: 60%;
    padding-left: 1em;
  }
  .supra-banner2{
    background: no-repeat center bottom;
    background-size: contain;
    position: absolute;
    z-index: 10;
    text-align: center;
  }
  .active-citizens-logo{
    position: relative;
    z-index: 10;
    width:12vw;
    height: auto;
    margin: 1.5em 0 0 1em;
  }
  .active-citizens-logo.--communities{
    margin: 1.5em 0 0 0.75em;
  }
  .--communities>h2{
    margin-top: 1vw;
  }
  .carousel-text{
    width: 50%;
    height: 80%;
    padding-left: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
  }
  .carousel-supra-banner .carousel-text h2{  
    color: #435053;
    font-weight: 900;
    font-size: 1em;
  }
  .btn-container{
    display: flex;
  }
  .banner-text{
    width: 40vw;
    margin-left: 0.75em;
    margin-top: 0.5em;
  }
  .carousel-text>h2{  
    color: #435053;
    font-weight: 900;
    font-size: 3em;
  }
  .--banner>h2{
    margin-top: 1em;
  }
  .--banner2>h2{
    margin-top: 4em;
  }
  .carousel-text>h3{
    color: #435053;
    font-weight: 900;
    font-size: 2vw;
  }
  .carousel-text>h4{
    font-size: 1vw;
    font-weight: 500;
    text-align: left;
    line-height: 2em;
    width: 25vw;
  }
  .btn-maps{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 11vw;
    min-height: 24vh;
    margin-right: 3em;
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
  }
  .btn-maps:hover{
    transform: scale(1.1);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  .btn-maps>span{
    color: white !important;
    font-style: italic;
    text-align: center;
    font-weight: 900;
    font-size: 1.5em;
    width: 70%;
    overflow: visible;
    white-space: wrap;
  }
  .btn-maps-pills:hover{
    transform: scale(1.1);
    transition: all .2s ease-in-out;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
  } 
  .btn-maps-pills{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-left: 0.8em;
    width: auto;
    height: auto;
    background-color: #AF529E;
    border-radius: 10rem;
    padding: 1em 2em;
  }
  .btn-maps-pills>a{
    color: white;
    vertical-align: center;
    font-weight: 400;
    font-size: 1rem;
  }
  .--btn-maps{
    top: 0%;
  }
  .carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: -1;
  }
  .banner {
    width: 100%;
  }
  .banner .photoby{
    position: absolute;
    z-index: 5000;
    top: 90%;
    left: 50%;
    font-size: 1rem;
    color: rgba(255,255,255, 0.5);
  }
  .carousel-caption .photoby{
    font-size: 1em;
  }
  .photoby-banner{
    position: absolute;
    z-index: 5000;
    margin-top: -33vh;
    margin-left: 31vw;
    font-size: 1.25vw;
    color: rgb(221, 221, 221);
  }
  
  
  /* Header Responsive */
  @media (max-width: 1024px){
    .btn-maps{
      margin-right: 1em;
    }
    .carousel-text{
      justify-content: start;
      padding-top: 3em;
    }
  }
  @media (max-width: 991.98px){
    /* Header Mobile */
    .carousel-supra {
    background: url("./home/WAVE-MOBILE.png") no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
    position: absolute;
    z-index: 10;
    width: 100%;
    }
    .carousel-supra-banner {
      width: 100vw;
    }
    .active-citizens-logo{
      position: relative;
      z-index: 10;
      width:30vw;
      height: auto;
      margin: 1.5em 0 0 0.5em;
    }
    .carousel-text{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10em 2em 2em 2em;
    }
    .carousel-text>h2{  
      color: white;
      font-weight: 900;
      font-size: 5vw;
    }
    .carousel-text-title{
      color: white !important;
    }
    .carousel-text .--banner{
      width: 70vw;
      margin-left: 0.5em;
    }
    .carousel-inner{
      width: 100%;
    }
    .--banner>h2{
      margin-top: 2em;
      margin-left: 0.1em;
      font-size: 6.5vh;
      color: #46626a;
    }
    .--banner2>h2{
      margin-top: 3.5em;
      margin-left: 0.2em;
      font-size: 6.5vh;
      color: #46626a;
    }
    .carousel-text>h3{
      color: white;
      font-weight: 900;
      font-size: 7vw;
    }
    .--banner>h4{
      display: none;
    }
    .active-citizens-logo.--communities{
      display: none;
    }
    .--communities>h2{
      font-size: 10vw;
      margin-top: 20vw;
    }
    .btn-container{
      padding-top: 0;
      align-items: center;
    }
    .btn-container h4{
      font-size: 2vw;
      padding-right: 1em;
      margin: 0;
    }
    .btn-maps{
      min-width: 13vw;
      width: 60%;
      display: flex;
      justify-content: center;
      background: url("./home/MAP_EN.png") no-repeat center center;
      background-size: contain;
      margin-right: 0.5em;
    }
    .btn-maps-pills{
      background-color: #AF529E;
      border-radius: 2rem;
      color: white;
      vertical-align: center;
      font-weight: 400;
      font-size: 1rem;
      -webkit-border-radius: 2rem;
      -moz-border-radius: 2rem;
      -ms-border-radius: 2rem;
      -o-border-radius: 2rem;
    }
    .twobtn{
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      top: 10%;
      margin-left: 1.5vw;
    }
    .carousel-text>h4{
      color: white;
      font-weight: 900;
      font-size: 2vh;
    }
    .carousel-item {
      height: 100vh;
      min-height: 300px;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      position: relative;
      z-index: -1;
    }
    .photoby{
      font-size: 1rem;
      color: rgba(255,255,255, 0.5);
    }
    .photoby-banner{
      position: absolute;
      z-index: 5000;
      margin-top: -33vh;
      margin-left: 31vw;
      font-size: 1.25vw;
      color: rgb(221, 221, 221);
    }
  }  