*{
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  padding: 0;
  border: 0;
  margin: 0;
}
.row{
  margin: 0;
  padding: 0;
}
/* Resposive text */
.x-style {
  font-size: calc(0.8em + 1vw);
  line-height: 1em;
  padding: 0.8em;
  margin: 0.8em;
}
/* Clean Links*/
a, a:link, a:visited, a:active a:hover{
  text-decoration: none;
  background-color: none;
  color: black;
}
.btn:focus{
  box-shadow: none;
  outline: none;
}
/* Fonts */
.lexend {
  font-family: 'Lexend Deca', sans-serif;
}
  
/* BG-Colors */
.bg-pistaccio {
  background-color: #D7DF23 !important;
}
.bg-green2{
  background-color: #94C4B4;
}
/* NavBar */
nav, footer{
  padding: auto 0;
  min-height: 10vh;
}
.navbar-brand{
  display: flex;
}
.navbar{
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.075) !important;
}
.navbar .container-fluid{
  padding: 0;
}
.bg-nav{
  padding-right: 9em;
}
.logo{
  display: inline-flex;
  width: 1em;
  height: auto;
  margin: auto;
  margin-right: 0.5em;
}
.logo svg{
  fill: #31ACB4;
  margin-right: 0;
}
.title2{
  font-size: 1  em;
  font-weight: 600;
  text-decoration: none;
  color: #AF529E;
}
.title2:hover{
  color: #435053;
}
.nav-item{
  display: flex;
}
.nav-item:after{
  content: "\7c";
  font-size: 1vw;
  margin: auto;
}
.nav-item:last-child:after, .genius:after{
  content: none;
}
.genius{
  margin-right: 0.5em;
}
.nav-link{
  display: flex;
  color: #435053;
  font-size: 1vw;
  font-weight: 400;
  padding: 0;
  align-items: center;
  text-transform: uppercase;
}
.nav-link.active{
  color: #D7DF23;
  font-weight: 600;
}
.dropdown-item.active, .dropdown-item:active{
  background-color: white;
  color: #D7DF23;
}
.input-group{
  width: 100%;
  justify-content: center;
}
.input2{
  border: none;
  border-bottom: 1px solid #454646;
  width: 50%;
  display: inline;
  font-size: 1vw;
}
.lupa{
  display: inline;
  width: 10%;
  color: #454646;
  padding: 0;
}
.languaje{
  font-weight: 700 !important;
}
.login{
  color: white;
  border: none;
  border-radius: 0;
  height: 2em;
  background-color: #DADADA;
  font-size: 0.75em;
  text-transform: capitalize;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
span.navbar-toggler-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* Footer */
footer{
  font-size: 1em;
  font-weight: 400;
  color: white;
  width: 100%;
  padding: 0;
  margin: 0;
}
.support {
  font-weight: 600;
}
.btn-donate{
  background-color: #AF529E;
  width: auto;
  border-radius: 2em;
  margin: 0.8em;
  padding: 0.1em 3em;
  color: white;
  font-weight: 600;
}
.legal{
  color: white;
  font-weight: 400;
  font-size: 0.8em;
}
.legal>a{
  font-size: 1em;
  font-weight: 500;
  color: #204496;
}
.donate-dialog{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - 1rem);
  min-width: 50vw;
}
.donate-content{
  background-color: #94C4B4;
  color: #4E7E6E;
  font-weight: 700;
  text-align: center;
}
.donate-header{
  color: white;
  font-weight: 900;
  margin: 0 5em;
  padding: 1rem 1rem;
  text-align: center !important;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem 1rem;
  border-bottom: 2px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}
.donate-body{
  justify-content: center;
}
.thankyou{
  color: #154455;
  height: 30vh;
  margin: 15vw;
}
.thankyou h2{
  font-size: 3vw;
  font-weight: bold;
}
.thankyou h4{
  font-size: 1.25vw;
  font-weight: normal;
}
/* COOKIES */
#myCookieConsent {
  z-index: 999;
  min-height: 6vw;
  max-height: 10vw;
  padding: 1vw;
  width: 100%;
  background: rgba(0,0,0,0.6);
  overflow: hidden;
  position: fixed;
  color: #FFF;
  bottom: 0px;
  display: none;
  text-align: left;
  font-size: 1vw;
}
#myCookieConsent div {
  margin: auto;
  justify-content: center;
}
#myCookieConsent a {
    color: #D7DF23;
    display: inline-block;
    font-weight: 600;
    font-size: 1.1vw;
}
#myCookieConsent a:hover {
	color: #a5ac23;
}
#myCookieConsent p {
  margin: 0;
  padding-left: 2%;
}
#myCookieConsent a#cookieButton {
  color: #000000;
  font-size: 1.2vw;
  width: auto;
  background-color: #D7DF23;
  text-decoration: none;
  cursor: pointer;
  padding: 0.25vw 1vw;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
#myCookieConsent a#cookieButton:hover {
  background: #a5ac23;
  color: #000;
}
@media (min-width: 2001px) {
  .navbar{
    height: 6em;
  }
  .navbar-brand{
    display: flex;
    padding: 0;
    justify-content: center;
  }
  .navbar-collapse{
    padding-right: 5em;
  }
  .bg-nav{
    padding-right: 9em;
  }
  .logo{
    width: 2em;
    margin: 0 1em;
  }
  .title2{
    font-size: 1.25vw;
  }
  .nav-item:after{
    line-height: 1.5em;
    font-size: 1.5em;
    margin: auto;
  }
  .lupa svg{
    width: 50%;
  }
  .login{
    font-size: 1em;
    width: auto;
  }
}
@media (max-width: 2000px) and (min-width: 1441px){
  .bg-nav{
    padding-right: 18em;
  }
  .logo{
    width: 1.25em;
    margin-right: 0.5em;
  }
  .nav-item:after{
    line-height: 1.25em;
    font-size: 1em;
  }
}
@media (max-width: 1200px){
  .navbar{
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-collapse{
    padding-right: 1em;
  }
  .logo{
    margin-left: 1em;
  }
  .title2{
    font-size: .75em;
  }
  .login{
    padding: 0.5em;
    font-size: 0.6em;
  }
  .dropdown-item{
    font-size: .8em;
  }
}
@media (max-width: 991.98px){
  #navbarResponsive{
    overflow-y: scroll;
    max-height: 80vh;
    padding-right: .5em;
  }
  .show::-webkit-scrollbar {
    display: none;
  }
  .navbar .container-fluid{
    padding-right: 1em;
  }
  .navbar-collapse{
    padding-right: 0;
  }
  .bg-nav{
    padding-right: 0;
  }
  .btn:focus{
    box-shadow: none;
  }
  .row{
    margin: 0;
    padding: 0;
  }
  .title2{
    color: #D7DF23;
  }
  .bg-nav{
    display: flex;
    align-items: flex-end;
    margin-top: 1.5em;
  }
  .nav-item{
    font-size: 1vw;
    flex-direction: column;
  }
  .nav-item:after{
    content: none;
  }
  .bg-nav>li{
    padding: 1em;
    align-self: flex-end;
    justify-content: right;
  }
  .input2-container{
    margin-right: 0.75em;
  }
  .input2-container form{
    justify-content: end;
    margin-right: 1em;
  }
  .genius{
    margin: 0;
  }
  .dropdown-menu{
    margin-bottom: .5em;
    border-radius: 0;
  }
  .dropdown-item{
    text-align: right;
    font-size: 2vw;
    padding: 3px 1em;
  }
  .nav-link{
    justify-content: flex-end;
    font-weight: 500;
    font-size: 2vw;
  }
  .input2-container{
    padding-right: 0 !important;
  }
  .input2{
    font-size: 2vw;
  }
  .languaje{
    margin: 0.5em;
  }
  .languaje-container>.nav-item:after{
    content: "\7c";
    color: #435053;
    font-size: 2em;
    margin: auto;
  }
  .languaje-container>.nav-item:last-child:after{
    content: none;
  }
  .languaje-container>.nav-item{
    display: flex;
    flex-direction: row;
  }
  .login{
    height: 1.5em;
    background-color: #DADADA;
    font-size: 1em;
    float: right;
    margin-right: 0.5em;
    line-height: .5em;
    margin-bottom: 1em;
  }
    /* COOKIES */
#myCookieConsent {
  z-index: 999;
  min-height: 6vh;
  max-height: 50vh;
  width: 100%;
  background: rgba(0,0,0,0.6);
  overflow: hidden;
  position: fixed;
  color: #FFF;
  bottom: 0px;
    
  text-align: left;
  font-size: 2vh;
}
#myCookieConsent div {
  margin: auto 0;
  justify-content: center;
}
#myCookieConsent a {
    color: #D7DF23;
    display: inline-block;
    font-weight: 600;
    font-size: 2vh;
}
#myCookieConsent a:hover {
	color: #a5ac23;
}
#myCookieConsent p {
  margin: 1vh 0;
}
#myCookieConsent a#cookieButton {
  color: #000000;
  font-size: 2vh;
  width: auto;
  margin: 1vh auto;
  background-color: #D7DF23;
  text-decoration: none;
  cursor: pointer;
  padding: 0.25vh 2vh;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
#myCookieConsent a#cookieButton:hover {
  background: #a5ac23;
  color: #000;
}
.thankyou{
  color: #154455;
  height: 50vh;
  margin: 20vh 10vh;
}
.thankyou h2{
  font-size: 5vh;
  font-weight: bold;
}
.thankyou h4{
  font-size: 5vw;
  font-weight: normal;
}
}
@media (max-width: 426px){
  .title2{
    font-size: 0.8em;
  }
  .nav-link, .input2, .login, .dropdown-item{
    font-size: 4vw;
  }
  .languaje-container>.nav-item:after{
    font-size: 3em;
  }
  .login{
    font-size: .8em;
  }
}
@media (max-width: 321px){
  .nav-link, .input2, .login, .dropdown-item{
    font-size: 4vw;
  }
}