*{
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  border: 0;
  margin: 0;
  color: #435053;
}
.row{
  margin: 0;
  padding: 0;
}
/* Resposive text */
.x-style {
  font-size: calc(0.8em + 1vw);
  line-height: 1em;
  padding: 0.8em;
  margin: 0.8em;
}
/* Clean Links*/
a, a:link, a:visited, a:active a:hover{
  text-decoration: none;
  background-color: none;
  color: #435053;
}
a {
  color: #435053;
}
.btn:focus{
  box-shadow: none;
  outline: none;
}
/* Fonts */
.lexend {
  font-family: 'Lexend Deca', sans-serif;
}
/* Colors */
.pistaccio{color: #D7DF23;}
.colortexts{color: #435053;}
.violet2{color: #AF529E;}
.green2{color: #4E7E6E;}
.green3{color: #94C4B4;}
.greygreen{color: #445153;}
.grey2{color: #333333;}
.brown{color: #454545;}
.blue2{color: #154455;}
.blue3{color: #33ADB6;}
.blue4{color: #28A8E0;}
  
/* BG-Colors */
.bg-pistaccio {
  background-color: #D7DF23 !important;
}
.bg-green2{
  background-color: #94C4B4;
}
/* NavBar */
.navbar{
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.075) !important;
}
.logo{
  display: inline-block;
  width: 1.5em;
  height: auto;
  margin-bottom: 0.4em;
}
.title2{
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: none;
  color: #AF529E;
}
.title2:hover{
  color: #435053;
}
.separador{
  margin-bottom: 0.2em;
  font-weight: 500;
}
.nav-link{
  display: flex;
  color: #435053;
  font-size: 1vw;
  font-weight: 500;
  padding: 0;
}
.nav-link.active{
  color: #D7DF23;
}
.dropdown-item.active, .dropdown-item:active{
  background-color: white;
  color: #D7DF23;
}
.input-group{
  width: 100%;
  justify-content: center;
}
.input2{
  border: none;
  border-bottom: 2px solid #435053;
  width: 75%;
  display: inline;
}
.lupa{
  display: inline;
  width: 20%;
  color: #435053;
  padding: 0;
}
.languaje{
  font-weight: 700 !important;
}
.login{
  color: white;
  border-radius: 0.50em;
  height: 3em;
  margin-right: 0.8em;
  background-color: #D7DF23;
}
span.navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Header */
header{
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.175) !important;
}
.principal{
  width: 100%;
  padding: 0;
  margin: 0;
}
.carousel-supra {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  z-index: 10;
  vertical-align: center;
  width: 100%;
}
.banner {
  height: 70vh;
  min-height: 50vh;
  max-height: 90vh;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  z-index: 10;
  vertical-align: center;
  width: 100%;
}
.active-citizens-logo{
  position: relative;
  z-index: 10;
  width:12vw;
  height: auto;
  margin: 2em 0 0.25em 0.75em;
}
.active-citizens-logo.--communities{
  margin: 1.5em 0 0 0.75em;
}
.--communities>h2{
  margin-top: 1vw;
}
.carousel-text{
  position: absolute;
  width: 35vw;
  height: 80%;
  margin-left: 0.75em;
}
.banner-text{
  width: 40vw;
  margin-left: 0.75em;
  margin-top: 0.5em;
}
.carousel-text>h2{  
  color: #435053;
  font-weight: 900;
  font-size: 3vw;
}
.--banner>h2{
  margin-top: 1em;
}
.--banner2>h2{
  margin-top: 4em;
}
.carousel-text>h3{
  color: #435053;
  font-weight: 900;
  font-size: 2vw;
}
.carousel-text>h4{
  font-size: 1vw;
  font-weight: 500;
  text-align: left;
  line-height: 2em;
  margin-top: 2vw;
  margin-right: 2vw;
}
.btn-maps{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20vw;
  min-height: 30vh;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  position: relative;
  top: 5%;
  left: -10%;
  color: white !important;
  font-style: italic;
  vertical-align: center;
  text-align: center;
  font-weight: 900;
  font-size: 2.75vw;
}
.btn-maps:hover{
  transform: scale(1.1);
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.btn-maps-pills:hover{
  transform: scale(1.1);
  transition: all .2s ease-in-out;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
} 
.btn-maps-pills{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  margin-left: 0.8em;
  width: auto;
  height: auto;
  background-color: #AF529E;
  border-radius: 10rem;
  padding: 1em 2em;
}
.btn-maps-pills>a{
  color: white;
  vertical-align: center;
  font-weight: 400;
  font-size: 1rem;
}
.--btn-maps{
  top: 0%;
}
.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  z-index: -1;
}
.banner .photoby{
  position: absolute;
  z-index: 5000;
  top: 90%;
  left: 50%;
  font-size: 1rem;
  color: rgba(255,255,255, 0.5);
}
/* Footer */
footer{
  font-size: 1em;
  font-weight: 400;
  color: white;
  width: 100%;
  padding: 0;
  margin: 0;
}
.support {
  font-weight: 600;
}
.btn-donate{
  background-color: #AF529E;
  width: auto;
  border-radius: 2em;
  margin: 0.8em;
  padding: 0.1em 3em;
  color: white;
  font-weight: 600;
}
.legal{
  color: white;
  font-weight: 400;
  font-size: 0.8em;
}
.legal>a{
  font-size: 1em;
  font-weight: 500;
  color: #204496;
}
.donate-dialog{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - 1rem);
  min-width: 50vw;
}
.donate-content{
  background-color: #94C4B4;
  color: #4E7E6E;
  font-weight: 700;
  text-align: center;
}
.donate-header{
  color: white;
  font-weight: 900;
  margin: 0 5em;
  padding: 1rem 1rem;
  text-align: center !important;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem 1rem;
  border-bottom: 2px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}
.donate-body{
  justify-content: center;
}

/* MOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILE */

@media (max-width: 768px){
  .btn:focus{
    box-shadow: none;
  }
  .row{
    margin: 0;
    padding: 0;
  }
  .title2{
    color: #D7DF23;
  }
  .bg-nav{
    display: flex;
    align-items: flex-end;
  }
  .bg-nav>li{
    padding: 0.2em 1em;
    align-self: flex-end;
  }
  .nav-link{
    color: #435053;
    font-size: 4vw;
    font-weight: 500;
    padding: 0;
  }
  .login{
    background-color: #AF529E;
    width: 100%;
  }
  /* Header Mobile */
  .carousel-supra {
  background: url("./home/WAVE-MOBILE.png") no-repeat center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100vw;
  position: absolute;
  z-index: 10;
  width: 100vw;
  }
  .active-citizens-logo{
    position: relative;
    z-index: 10;
    width:30vw;
    height: auto;
    margin: 1.5em 0 0 0.5em;
  }
  .carousel-text{
    position: absolute;
    z-index: 20;
    top: 15%;
    left: -5%;
    width: 30vw;
    height: 100vh;
  }
  .carousel-text>h2{  
    color: white;
    font-weight: 900;
    font-size: 8vh;
  }  
  .carousel-text .--banner{
    width: 70vw;
    margin-left: 0.5em;
  }
  .carousel-inner{
    width: 100%;
  }
  .--banner>h2{
    margin-top: 2em;
    margin-left: 0.1em;
    font-size: 6.5vh;
    color: #46626a;
  }
  .--banner2>h2{
    margin-top: 3.5em;
    margin-left: 0.2em;
    font-size: 6.5vh;
    color: #46626a;
  }
  .carousel-text>h3{
    color: white;
    font-weight: 900;
    font-size: 7vw;
  }
  .--banner>h4{
    display: none;
  }
  .active-citizens-logo.--communities{
    display: none;
  }
  .--communities>h2{
    font-size: 10vw;
    margin-top: 20vw;
  }
  .btn-maps{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 90vw;
    background: url("./home/MAP_EN.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    color: white;
    font-style: italic;
    vertical-align: center;
    text-align: center;
    font-weight: 900;
    font-size: 1.8rem;
  }
  .btn-maps-pills{
    background-color: #AF529E;
    border-radius: 2rem;
    color: white;
    vertical-align: center;
    font-weight: 400;
    font-size: 1rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
  }
  .twobtn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left: 60%;
    top: 10%;
  }
  .carousel-text>h4{
    color: white;
    font-weight: 900;
  }
  .carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: -1;
  }
  .photoby{
    font-size: 1rem;
    color: rgba(255,255,255, 0.5);
  }
}  

/* REVISAR */
/* .bg-nav{
  display: flex;
  align-items: center;
} */