/* COMMUNITY CAROUSEL */
.vimeo-title{
    font-weight: 800;
    color: white;
    padding: 4vw 0 0 0 !important;
    margin: 0;
}
.vimeo-carousel{
    height: 57vh;
    background-color: #94C4B4;
}
.inner-vimeo{
    height: 45vh;
    z-index: 500;
    margin: auto;
    align-content: center;
}
.carousel-item-vimeo{
    align-content: center;
}
.card-deck{
    margin: 4vw auto 0 auto;
}
.carousel-control-prev,
.carousel-control-next {
  width: 15%;
  margin-top: 5vw;
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}