/* Header */
header{
box-shadow: 0 0 3rem rgba(0, 0, 0, 0.175) !important;
}
.carousel-supra {
height: 100vh;
min-height: 100vh;
max-height: 100vh;
background: no-repeat center center;
background-size: cover;
position: absolute;
z-index: 10;
width: 100%;
flex-direction: column;
justify-content: center;
}
.active-citizens-logo{
position: relative;
z-index: 10;
width:12vw;
height: auto;
margin: 1.5em 0 0 1em;
}
.carousel-text{
width: 50%;
height: 80%;
padding-left: 3em;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: start;
}
.carousel-text-container{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.btn-container{
display: flex;
}
.carousel-text>h2{  
color: #435053;
font-weight: 900;
font-size: 3rem;
}
.carousel-text-container h4, .carousel-text-container h3{
font-size: 1vw;
font-weight: 500;
text-align: left;
line-height: 2em;
width: 25vw;
}
.btn-maps{
display: flex;
justify-content: center;
align-items: center;
min-width: 11vw;
min-height: 24vh;
margin-right: 3em;
background: no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: contain;
}
.btn-maps:hover{
transform: scale(1.1);
transition: all .2s ease-in-out;
-webkit-transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
-ms-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-ms-transform: scale(1.1);
-o-transform: scale(1.1);
}
.btn-maps>span{
color: white !important;
font-style: italic;
text-align: center;
font-weight: 900;
font-size: 1.5em;
width: 70%;
overflow: visible;
white-space: wrap;
}
.carousel-item {
height: 100vh;
min-height: 300px;
background: no-repeat center center scroll;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
position: relative;
z-index: -1;
}
.carousel-caption .photoby{
font-size: 1em;
}
@media (max-width: 2000px) and (min-width: 1441px){
    .carousel-text{
        justify-content: start;
        padding-top: 3em;    
    }
    .btn-container{
        margin: 2em 0;
    }
}
@media (max-width: 1200px){
    .btn-maps{
    margin-right: 1em;
    }
    .carousel-text{
    justify-content: start;
    align-items: start;
    padding-top: 3em;
    }
}
@media (max-width: 991.98px){
    .carousel-supra {
        position: absolute;
        z-index: 10;
        width: 100%;
    }
    .carousel-supra img{
        width: 100%;
        position: absolute;
        bottom: 0;
        z-index: -5000;
        height: 55%;
        object-fit: cover;
        object-position: center center;
    }
    .carousel-indicators{
        display: none;
    }
    .active-citizens-logo{
        position: relative;
        z-index: 10;
        width:30vw;
        height: auto;
        margin: 1.5em 0 0 0.5em;
    }
    .carousel-text{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10em 2em 2em 2em;
    }
    .carousel-text>h2{  
        color: white;
        font-weight: 900;
        font-size: 5vw;
        width: 90%;
    }
    .carousel-inner{
        width: 100%;
    }
    .carousel-text-container{
        /* max-height: 35vh;
        overflow: scroll; */
        display: none;
    }
    /* .carousel-text-container h4, .carousel-text-container h3{
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    line-height: 2rem;
    width: 100%;
    } */
/*     .btn-container{
        padding-top: 0;
        align-items: center;
        width: 100%;
    }
    .btn-maps{
        min-width: 13vw;
        width: 20%;
        display: flex;
        justify-content: center;
        margin-right: 0.5em;
    } */
    .carousel-text>h4{
        color: white;
        font-weight: 900;
        font-size: 2vh;
    }
    .carousel-item {
        height: 100vh;
        min-height: 300px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: relative;
        z-index: -1;
    }
    .photoby{
        font-size: 1rem;
        color: rgba(255,255,255, 0.5);
    }
}
@media (max-width: 768px){
    .carousel-text{
        padding: 10em 0 2em 0;
    }
    .btn-container h4{
        display: none;
    }
    .btn-maps{
        min-width: 20vw;
        width: 100%;
    }   
    .carousel-indicators{
        display: none;
    }
    .carousel-text-container{
        display: none;
    }
}
@media (max-width: 426px){
.carousel-text h2{
    font-size: 2em;
}
.btn-maps{
    min-width: 25vw;
    width: 100%;
    padding-bottom: 1em;
}   
}
@media (max-width: 321px){
.btn-maps{
    min-width: 28vw;
}
}


/* COMMUNITY CAROUSEL */
.vimeo-title{
    font-weight: 800;
    color: white;
    padding: 4vw 0 0 0 !important;
    margin: 0;
}
.vimeo-carousel{
    height: 57vh;
    background-color: #94C4B4;
}
.inner-vimeo{
    height: 45vh;
    z-index: 500;
    margin: auto;
    align-content: center;
}
.carousel-item-vimeo{
    align-content: center;
}
.card-deck{
    margin: 4vw auto 0 auto;
}
.col-vimeo>a>img{
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.25) !important;
}
.col-vimeo>a>img:hover{
    cursor: pointer;
    transform: scale(1.02, 1.02);
    -webkit-transform: scale(1.02, 1.02);
    -moz-transform: scale(1.02, 1.02);
    -ms-transform: scale(1.02, 1.02);
    -o-transform: scale(1.02, 1.02);
}
.carousel-control-prev,
.carousel-control-next {
  width: 15%;
  margin-top: 5vw;
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
@media (max-width: 768px){
    .vimeo-carousel{
        height: 50vh;
    }
    .vimeo-title{
        font-weight: 800;
        color: white;
        padding: 7vh 0 2vh 0 !important;
        margin: 0;
    }
    .inner-vimeo{
        height: 25vh;
        z-index: 500;
        margin: auto;
        align-content: center;
    }
    .carousel-item-vimeo{
        height: 25vh;
    }
    .card-deck{
        height: 20vh;
    }
    .col-vimeo{
        align-content: center;
        margin: auto;
        padding: 0;
        margin: 5vh auto;
    }
    .col-vimeo>a>img{
        margin: auto;
        height: auto;
        box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.25) !important;
    }
    .col-vimeo>a>img:hover{
        cursor: pointer;
        transform: scale(1.02, 1.02);
        -webkit-transform: scale(1.02, 1.02);
        -moz-transform: scale(1.02, 1.02);
        -ms-transform: scale(1.02, 1.02);
        -o-transform: scale(1.02, 1.02);
    }
    .carousel-control-prev,
    .carousel-control-next {
      width: 15%;
      margin-top: 15vh;
      transition: none !important;
      -webkit-transition: none !important;
      -moz-transition: none !important;
      -ms-transition: none !important;
      -o-transition: none !important;
    }
}
/* Media queries for iPhone 11 */
@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) {
        .fixed-top{
            height: auto;
            min-height: 0;
        }
}

/* Media queries for iPhone 11 Pro */
@media only screen 
    and (device-width: 375px) 
    and (device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3) {
        .fixed-top{
            height: auto;
            min-height: 0;
        }
}


/* Media queries for iPhone 11 Pro Max */
@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (orientation : landscape)
    and (-webkit-device-pixel-ratio: 3) {
        .fixed-top{
            height: auto;
            min-height: 0;
        }
}