*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    border: 0;
    margin: 0;
  }
  /* Resposive text */
  .x-style {
    font-size: calc(0.8em + 1vw);
    line-height: 1em;
    padding: 0.8em;
    margin: 0.8em;
  }
  /* Clean Links*/
  a, a:link, a:visited, a:active a:hover{
    text-decoration: none;
    background-color: none;
    color: #435053;
  }
  a {
    color: #435053;
  }
  .btn:focus{
    box-shadow: none;
  }
  /* Fonts */
  .lexend {
    font-family: 'Lexend Deca', sans-serif;
  }
  /* Colors */
  .pistaccio{color: #D7DF23;}
  .colortexts{color: #435053;}
  .violet2{color: #AF529E;}
  
  .green2{color: #4E7E6E;}
  .green3{color: #94C4B4;}
  .greygreen{color: #445153;}
  .grey2{color: #333333;}
  .brown{color: #454545;}
  .blue2{color: #154455;}
  .blue3{color: #33ADB6;}
  .blue4{color: #28A8E0;}
    
  /* BG-Colors */
  .bg-pistaccio {
    background-color: #D7DF23 !important;
  }
  .bg-green2{
    background-color: #94C4B4;
  }
  /* NavBar title */
  .logo{
    display: inline-block;
    width: 1.5em;
    height: auto;
    margin-bottom: 0.5em;
  }
  .title2{
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: none;
    color: #AF529E;
  }
  .title2:hover{
  color: #435053;
  }
  /* NavBar */
  .navbar{
  box-shadow: 0 1rem 3em rgba(0, 0, 0, 0.075) !important;
}
  .bg-nav{
    display: flex;
    align-items: center;
  }
  .separador{
    margin-bottom: 0.2em;
    font-weight: 500;
  }
  .input-group{
    width: 100%;
    justify-content: center;
  }
  .input2{
    border: none;
    border-bottom: 2px solid #435053;
    width: 75%;
    display: inline;
  }
  .lupa{
    display: inline;
    width: 20%;
    color: #435053;
    padding: 0;
  }
  
  .nav-link{
    display: flex;
    color: #435053;
    font-size: 1vw;
    font-weight: 500;
    padding: 0;
  }
  .nav-link.active{
    color: #D7DF23;
  }
  .dropdown-item.active, .dropdown-item:active{
    background-color: white;
    color: #D7DF23;
  }
  .languaje{
    font-weight: 700 !important;
  }
  .login{
    color: white;
    border-radius: 0.50em;
    height: 3em;
    margin-right: 0.8em;
    background-color: #D7DF23;
  }
  span.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  /* Footer */
footer{
    font-size: 1em;
    font-weight: 400;
    color: white;
  }
  .support {
    font-weight: 600;
  }
  .btn-donate{
    background-color: #AF529E;
    width: auto;
    border-radius: 2em;
    margin: 0.8em;
    padding: 0.1em 3em;
    color: white;
    font-weight: 600;
  }
  .legal{
    color: white;
    font-weight: 400;
    font-size: 0.8em;
  }
  .legal>a{
      font-size: 1em;
      font-weight: 500;
      color: #204496;
    }
  .donate-dialog{
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      min-height: calc(100% - 1rem);
      min-width: 50vw;
  }
  .donate-content{
    background-color: #94C4B4;
    color: #4E7E6E;
    font-weight: 700;
    text-align: center;
  }
  .donate-header{
    color: white;
    font-weight: 900;
    margin: 0 5em;
    padding: 1rem 1rem;
    text-align: center !important;
  
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1rem 1rem;
    border-bottom: 2px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
  }
  .donate-body{
    justify-content: center;
  }
  @media (max-width: 768px){
  /* NavBar Mobile */
    .title2{
      font-family: 'Lexend Deca', sans-serif;
      color: #D7DF23;
      font-weight: 600;
      font-size: 0.8em;
    }
    .logo{
    display: inline-block;
    width: 1em;
    height: auto;
    margin-bottom: 0.2em;
    }
    .bg-nav{
      align-items: flex-end;
    }
    a.nav-link{
      color: #435053;
      font-weight: 500;
      font-size: inherit;
      border: none;
      margin: 0.2em;
      margin-right: 1em;
    }
    .login{
      margin-right: 0;
      width: 95%;
      color: white;
      background-color: #AF529E;
      align-self: center;
  }
}