/* Single Event */
main.container{
    padding: 0;
    width: 100%;
    display: flex;
    height: 90vh;
    margin-top: 10vh;
    max-width: 100%;
    background-color: #b18d7f;
}
.gral{
    height: 90vh;
    margin: auto;
    display: flex;
    width: 80%;
}
.gral>.col-md-5, .gral>.col-md-7{
    padding: 0;
    margin: auto;
    height: auto;
    max-height: 80vh;
}
.gral>.col-md-7{
    padding-left: 2rem;
}
.carousel.slide{
    max-height: 80vh;
}
.carousel-indicators{
    margin-bottom: 0.5rem;
}
.carousel-indicators li{
    width: 80px;
    height: 6px;
}
.carousel-inner{
    z-index: 10;
    max-height: 80vh;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.carousel-inner > .carousel-item{
    height: 80vh;
    width: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.mainimg{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.mainimg.no-img{
    object-fit: contain;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 3%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    margin: 0;
    line-height: 1.25em;
    font-size: 1rem;
}
.carousel-caption>p {
    font-weight: 600;
    margin: 0;
}
.carousel-caption>p>span {
    font-weight:normal;
}
.carousel-caption>h5{
    font-size: 1rem;
    margin: 0;
}
.carousel-control-prev, .carousel-control-next{
    z-index: 15;
    max-height: 80vh;
}
.right-side{
    background-color: #b18d7f;
    color: white;
    padding-right: 10vw;
    height: auto;
}
.content{
    height: 88vh;
}
.event-card{
    display: block;
    min-width: 100%;
    background-color: #b18d7f;
    border: 1px solid #d1d3d4;
}
.event-card-body{
    overflow-y: scroll;
    max-height: 50vw;
    font-size: 1vw;
}
.card-body-pic{
    padding: 0;
}
.event-title{
    color: white;
    font-weight: 700;
    font-size: 2vw;
}
.card-text{
    font-size: 1vw;
    padding: 0.5vw;
    margin-top: 0.3em;
    width: 100%;
}
.event-date-body{
    font-size: 1vw;
    padding: 0.5vw;
    margin-top: 0.3em;
    margin-bottom: 1vh;
    width: 100%;
    background-color: #b18d7f;
    border: none;
    height: auto;
    max-height: 24vh !important;
}
.event-date-body>p, .card-text>p{
    margin: 0;
    font-weight: 600;
    font-size: 2vh;
}
.card-X-text{
    font-weight: 400;
    font-size: 1vw;
    padding: 0em;
    margin-top: 0em;
    width: 100%;
}
.event-date-body>p>span, .card-text>p>span{
    font-weight: 400;
}
.card-title{
    font-weight: 600;
}
.card-title>p{
    margin-bottom: 0.5vw;
}
.btn:focus{
    box-shadow: none !important;
}
.btn-block{
    margin: 0;
    padding: 0.5em 0;
}
.event-back{
    background-color: #332f8c;
    color: white !important;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 2vh auto;
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    padding: 0.3em 2em;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    vertical-align: center;
    font-weight: 500;
    font-size: 1vw;
}
.event-back:focus{
    outline: none;  
}
.event-back>i{
    align-self: center;
    margin-right: 0.5vw;
}
.extlink>a{
    color: #007bff;
}
.badges{
    height: 1vw;
    margin: 1vh 0;
    padding: 0;
}
.badges>p{
    font-weight: 600;
    margin: 0 0 0.5vw 0;
}
.badge{
    margin: 0 auto 1vw auto;
    font-size: 1vw;
    background-color: #617e95;
    color: #fff;
}
.scrollable{
    position: relative;
    min-height: 20vw;
    max-height: 24vw;
    overflow-y: scroll;
}
.scrollable::-webkit-scrollbar {
    width: 12px;
}
.scrollable::-webkit-scrollbar-track {
    margin: 0;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.scrollable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 200px rgba(255, 255, 255, 100); 
}


@media (min-width: 2001px){
    .scrollable{
        max-height: 50vh;
    }
    .card-title p, .card-X-text p{
        font-size: 1.5rem;
    }
    .event-title{
        font-size: 3rem;
    }
}
@media (max-width: 2000px) and (min-width: 1441px){
    .gral>.col-md-5, .gral>.col-md-7{
        padding: 0;
        margin: auto;
        height: auto;
        max-height: 90vh;
    }
    .gral>.col-md-7{
        padding-left: 2rem;
    }
    .card-title p, .card-X-text p{
        font-size: 1rem;
    }
}
@media (max-width: 1440px){
    .scrollable{
        max-height: 50vh;
    }
}
@media (max-width: 1024px){
    .gral>.col-md-5, .gral>.col-md-7{
        padding: 0;
        margin: auto;
        height: auto;
        max-height: 90vh;
    }
    .gral>.col-md-7{
        padding-left: 2rem;
    }
    .scrollable{
        max-height: 50vh;
    }
    .card-title p, .card-X-text p{
        font-size: 0.8rem;
    }
    .event-back{
        font-size: 0.8rem;
    }
    .row.gral{
        display: flex;
        width: 100%;
        height: auto;
        margin: 1rem;
        flex-wrap: nowrap;
    }
    .badge{
        font-size: 0.8rem;
    }
}
@media (max-width: 767.98px){
    main.container{
        height: auto;
    }
    .row.gral{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 1rem 2rem;
        flex-wrap: nowrap;
    }
    .gral>.col-12{
        flex: 0 0 100%;
        max-width: 100%;
        max-height: 80vh;
        margin: 1rem 0;
        overflow: visible;
    }
    .total.right-side{
        padding: 0;
    }
    .event-title{
        font-size: 2rem;
    }
    .badges{
        font-size: 0.8rem;
    }
    .badges span{
        font-size: 0.8rem;
    }
    .event-back{
        font-size: 1rem;
    }
}
@media (max-width: 426px){
    .scrollable {
        max-height: 50vh;
    }
}
@media (max-width: 320px){
    .row.gral{
        margin: 1rem;
        overflow-y: clip;
    }
    .gral>.col-12{
        flex: 0 0 100%;
        max-width: 100%;
        min-height: 85vh;
        margin: 0;
    }
    .scrollable{
        height: 60vh;
    }
}