/* HEADER */
.btn-maps{
    min-width: 20vw;
    min-height: 30vh;
    position: absolute;
    z-index: 50;
    top: 60%;
    left: 5%;
}
.lietuvos-logo{
    margin: 3vw 0;
    width: 13vw;
}
.carousel-text{
    margin-top: 3vw;
}
.carousel-text>h3{
    font-size: 3vw;
}

/* COMMUNITY CAROUSEL */
.community-carousel{
    height: 60vh;
    background-color: #7969af;
}
.inner-communities{
    z-index: 500;
    margin-left: auto;
    margin-right: auto;
}
.item-communities{
    height: 27vw;
}
.col-community{
    justify-content: center;
    align-content: center;
}
.community-name{
    width: 60%;
    font-weight: bold;
    margin: auto;
}
.back-img{
    position: absolute;
    z-index: 600;
    height: 18vw;
    object-fit: contain;
    object-position: center center;
    left: 0.5vw;
    top: 4vw;
}
.top-img{
    position: absolute;
    z-index: 700;
    left: 7vw;
    top: 6.5vw;
    height: 13vw;
    width: 13vw;
    object-fit: cover;
    object-position: center center;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.btn-header{
    height: 100%;
}


/* EVENTS */
.section-events{
    margin: 6vw auto;
}
.card-header{
    height: 5vw;
}