/* Single Event */
main{
    height: 90vh;
}
.row-main{
    align-items: center;
    justify-content: center;
    margin: 5vw 0;
    height: 90vh;
    padding: 0;
}
.text-container, .image-container{
    height: 90vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.text-container{
    padding: 2rem;
    justify-content: center;
}
.image-container{
    justify-content: center;
}
.community-logo-desk{
    width: 40%;
    margin: 0vw auto 1vw 0vw;
}
.single-title>h2{
    color: #4888c7;
    margin: auto auto 1vw 1vw;
    font-size: 2.2vw;
}
.single-card-body{
    overflow-y: scroll;
    font-size: 0.8em;
}
.card-title{
    font-weight: bold;
    color: #435053;
}
.card-title>h2{
    color: #435053;
    font-weight: 700;
    font-size: 2vw;
}
.card-text>p{
    font-size: 0.9vw;
}
.scrollable{
    position: relative;
    overflow-y: scroll;
    height: 18vw;
}
.scrollable::-webkit-scrollbar {
    width: 12px;
}
.scrollable::-webkit-scrollbar-track {
    margin: 1em;
    -webkit-box-shadow: inset 0 0 6px rgba(128, 128, 128, 0.3);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.scrollable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(82, 82, 82, 0.5); 
}
.unificacion{
    display: flex;
    height: 90vh;
    background-image: url(../../css/communities/comunities3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.top-img{
    position: relative;
    z-index: 700;
    height: 36vw;
    width: 36vw;
    object-fit: cover;
    object-position: center center;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin: auto;
}
.contact-icons>a>i{
    font-size: 3vw;
    margin: 2vw 1vw;
}

/* Activities Section */
.activities-cat{
    margin: 8vw auto 5vw auto;
    height: 30vw;
}
.activities-cat>h2{
    color: #58595b;
    font-weight: bold;
}
.category{
    height: 10vw;
    border-radius: 1.5vw !important;
    -webkit-border-radius: 1.5vw !important;
    -moz-border-radius: 1.5vw !important;
    -ms-border-radius: 1.5vw !important;
    -o-border-radius: 1.5vw !important;
    color: white;
    text-align: center;
    font-weight: 600;
    border: none;
    margin: 1vw auto;
}
.category:hover{
    cursor: pointer;
    transform: scale(1.02, 1.02);
    -webkit-transform: scale(1.02, 1.02);
    -moz-transform: scale(1.02, 1.02);
    -ms-transform: scale(1.02, 1.02);
    -o-transform: scale(1.02, 1.02);
}
.category>p{
    margin: auto 2vw;
    vertical-align: center;
    text-transform: uppercase;
    font-size: 1.5vw;
}

/* Quote */
.quote{
    height: auto;
    max-height: 20vw;
    text-align: center;
    align-content: center;
    box-shadow: 3em 0 3em 0 rgba(0, 0, 0, 0.25) !important;
}
.quote>p{
    margin: auto 10vw;
    padding: 1.5vw 1vw;
    color: white;
    font-size: 2.3vw;
    font-weight: 600;
}
.quote>p>span{
    font-style: italic;
}

/* Faces */
.faces{
    min-height: 80vh;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}
.faces-col{
    flex: 1 0 0%;
    max-width: 100%;
    min-width: 20%;
}
.faces-col a{
    max-width: 20%;
}
.faces>h2{
    color: #58595b;
    font-weight: bold;
    margin-bottom: 2vw;
}
.img-top{
    width: 80%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 1.5vw auto;
}
.faces-card{
    height: auto;
    text-align: left;
    font-weight: 400;
    border: none;
}
.faces-card:hover{
    cursor: pointer;
    transform: scale(1.02, 1.02);
    -webkit-transform: scale(1.02, 1.02);
    -moz-transform: scale(1.02, 1.02);
    -ms-transform: scale(1.02, 1.02);
    -o-transform: scale(1.02, 1.02);
}
.faces-text{
    margin-left: 1.5vw;
}
.faces-text>p{
    color: #c84869;
    font-size: 1.25vw;
    margin: 0;
}
.faces-text>p:last-child{
    color: black;
    font-size: 1.25vw;
    margin: 0;
}

@media (min-width: 2001px){
    .scrollable{
        height: 18vw;
    }
    /* Faces */
    .faces{
        min-height: 80vh;
        margin: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        min-width: 1440px;
        width: 100%;
    }
}
@media (max-width: 1440px){
    .card-text>p {
        font-size: 1rem;
    }
}
@media (max-width: 1024px){
    .image-container .top-img{
        height: 40vw;
        width: 40vw;
    }
    .community-logo-desk {
        width: 40%;
        margin: 2rem auto 1vw 0vw;
    }
}

@media (max-width: 768px){
    /* Event */
    .row-main{
        align-items: flex-start;
        margin: 12vh 0;
        height: 90vh;
    }
    .community-logo-desk{
        width: 70%;
        margin-top: 0;
    }
    .image-container .top-img{
        height: 40vw;
        width: 40vw;
    }
    .text-container{
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        margin-top: 0vh;
    }
    .single-title>h2{
        font-size: 2.5vh;
    }
    .card-text>p{
        font-size: 1rem;
    }
    .contact-icons>a>i{
        font-size: 5vh;
        margin: 4vh 1vw 5vw auto;
    }

    /* Activities */
    .activities-cat{
        margin: 25vw auto 25vw auto;
        height: auto;
    }
    .category>p{
        margin: auto 2vw;
        vertical-align: center;
        text-transform: uppercase;
        font-size: 2vh;
    }
    /* Quote */
    .quote{
        height: auto;
        max-height: 80vh;
    }
    .quote>p{
        margin: auto 5vw;
        padding: 5vw 1vw;
        font-size: 0.8rem;
    }
    /* Faces */
    .faces{
        margin: 2rem auto;
    }
    .faces-col{
        min-width: 40%;
        max-width: 50%;
    }
    .faces-card{
        margin-bottom: 2rem;
    }
    .faces-text{
        text-align: center;
    }
    .faces-text>p{
        font-size: 1rem;
    }
    .faces-text>p:last-child{
        color: black;
        font-size: 0.8rem;
        margin: 0;
    }
}

@media (max-width: 767.98px){
    main{
        height: auto;
    }
    .row-main{
        height: auto;
    }
    .text-container{
        height: auto;
        padding: 1rem;
    }
    .community-logo-desk{
        width: 30%;
    }
    .single-title>h2 {
        font-size: 1.5rem;
    }
    .activities-cat{
        margin: 0 auto 2rem auto;
    }
    .image-container .top-img{
        height: 57vw;
        width: 57vw;
    }
    /* FACES */
    .faces{
        min-height: auto;
        margin: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        max-width: 600px;
        margin: 2rem auto;
    }
    .faces-card{
        margin-bottom: 2rem;
    }
    .img-top{
        width: 50%;
    }
    .faces-text>p{
        font-size: 1rem;
        text-align: center;
    }
    .faces-text>p:last-child{
        font-size: 0.8rem;
    }
    
}
@media (max-width: 767.98px){
    .community-logo-desk{
        width: 50%;
    }
    .image-container{
        height: auto;
    }
    .image-container .top-img {
        height: 70vw;
        width: 70vw;
    }
    .scrollable{
        height: 30vh;
    }
    .unificacion{
        height: 60vh;
    }
}