main.container{
    padding: 0;
    width: 100%;
    display: flex;
    height: 90vh;
    margin-top: 10vh;
    max-width: 100%;
}
.gral{
    height: 90vh;
    margin: auto;
    display: flex;
    width: 80%;
}
.gral>.col-md-5, .gral>.col-md-7{
    padding: 0;
    margin: auto;
    height: auto;
    max-height: 80vh;
}
.gral>.col-md-7{
    padding-left: 2rem;
}
.carousel.slide{
    max-height: 80vh;
}
.carousel-indicators{
    margin-bottom: 0.5rem;
}
.carousel-indicators li{
    width: 80px;
    height: 6px;
}
.carousel-inner{
    z-index: 10;
    max-height: 80vh;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.carousel-inner > .carousel-item{
    height: 80vh;
    width: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.carousel-inner > .carousel-item > .mainimg{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.carousel-inner > .carousel-item > .mainimg.no-img{
    object-fit: contain;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 3%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    margin: 0;
    line-height: 1.25em;
    font-size: 1rem;
}
.carousel-caption>p {
    font-weight: 600;
    margin: 0;
}
.carousel-caption>p>span {
    font-weight:normal;
}
.carousel-caption>h5{
    font-size: 1rem;
    margin: 0;
}
.carousel-control-prev, .carousel-control-next{
    z-index: 15;
    max-height: 80vh;
}
.breadcrumb{
    background: transparent;
    padding: 0;
}
.breadcrumb-item > a{
    color: white;
}
.breadcrumb-item+.breadcrumb-item::before{
    color: white;
}
.card.event-card{
    max-height: 70vh;
    border-radius: 15px;
}
.scrollable{
    position: relative;
    max-height: 30vw;
    overflow-y: scroll;
}
.scrollable::-webkit-scrollbar {
    width: 12px;
}
.scrollable::-webkit-scrollbar-track {
    margin: 1em;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.scrollable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.event-title{
    color: white;
    font-weight: 700;
}



/* Past Events */
.past-events{
    margin: 4vw auto;
}
.past-events>h2{
    color: #58595b;
    font-weight: bold;
    margin-bottom: 2vw;
}
.filter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0.5vw;
}
.filter>a{
    background-color: #D7DF23;
    margin: auto 1vw;
    border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -ms-border-radius: 0.8em;
    -o-border-radius: 0.8em;
}
.filter>a>p{
    padding: 0.25em 1em;
    margin: 0;
    justify-content: space-between;
    align-content: center;
}

.img {
    padding: 1em;
    background-color: none;
    border-radius: 15em;
    max-width: 70%;
    height: auto;
    -webkit-border-radius: 15em;
    -moz-border-radius: 15em;
    -ms-border-radius: 15em;
    -o-border-radius: 15em;
}
.card-activity{
    max-width: 15vw;
    margin: 1vw;
    border: 1px solid #4888c7 !important;
    border-radius: 1em !important;
    -webkit-border-radius: 1em !important;
    -moz-border-radius: 1em !important;
    -ms-border-radius: 1em !important;
    -o-border-radius: 1em !important;
    font-size: 1rem;
}
.card-activity>img{
    height: 17vw;
    object-fit: cover;
    object-position: center center;
    border-radius: 1em !important;
    -webkit-border-radius: 1em !important;
    -moz-border-radius: 1em !important;
    -ms-border-radius: 1em !important;
    -o-border-radius: 1em !important;
}
.card-body-activity{
    padding: 1vw;
}
.card-text-activity{
    margin-bottom: 1vh;
}
.card-title-activity{
    color: #af539c !important;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}
.card-title-activity>span:first-child::after{
    content: " / ";
}
.card-title>p{
    margin-bottom: 0;
}
.btn-about{
    background-color: #47636b;
    font-size: 1rem;
    float: right;
    width: auto;
    border-radius: 3em;
    padding: 0.3vw 2vw;
    color: white !important;
    -webkit-border-radius: 3em;
    -moz-border-radius: 3em;
    -ms-border-radius: 3em;
    -o-border-radius: 3em;
}

@media (min-width: 2001px){
    .scrollable{
        max-height: 80vh;
    }
    .card-title p, .card-X-text p{
        font-size: 1.5rem;
    }
    .breadcrumb-item a{
        font-size: 1.5rem;
    }
    .past-events{
        max-width: 2000px;
    }
}
@media (max-width: 2000px) and (min-width: 1441px){
    .gral>.col-md-5, .gral>.col-md-7{
        padding: 0;
        margin: auto;
        height: auto;
        max-height: 90vh;
    }
    .gral>.col-md-7{
        padding-left: 2rem;
    }
    .scrollable{
        max-height: 80vh;
    }
    .card-title p, .card-X-text p{
        font-size: 1rem;
    }
    .breadcrumb-item a{
        font-size: 1rem;
    }
}
@media (max-width: 1440px){
    .scrollable{
        max-height: 65vh;
    }
}
@media (max-width: 1024px){
    .gral>.col-md-5, .gral>.col-md-7{
        padding: 0;
        margin: auto;
        height: auto;
        max-height: 90vh;
    }
    .gral>.col-md-7{
        padding-left: 2rem;
    }
    .scrollable{
        max-height: 70vh;
    }
    .card-title p, .card-X-text p{
        font-size: 1rem;
    }
    .breadcrumb{
        margin: 0;
    }
    .breadcrumb-item a{
        font-size: 1rem;
    }
    .card-activity{
        min-width: 45%
    }
}
@media (max-width: 767.98px){
    main.container{
        height: auto;
    }
    .row.gral{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 1rem 2rem;
        flex-wrap: nowrap;
    }
    .gral>.col-12{
        flex: 0 0 100%;
        max-width: 100%;
        max-height: 80vh;
        margin: 1rem 0;
        overflow: visible;
    }
    .gral>.col-12:last-child{
        padding-left: 0;
    }
    section.past-events{
        max-width: 700px;
    }
    .card-activity{
        min-width: 45%;
    }
}
@media (max-width: 426px){
    .scrollable {
        max-height: 65vh;
    }
    section.past-events{
        max-width: 400px;
    }
    .card-activity{
        max-width: 40%;
        margin: 1rem;
    }
    .card-activity>img{
        height: 25vh;
    }
}
@media (max-width: 320px){
    .row.gral{
        margin: 1rem;
        overflow-y: clip;
    }
    .gral>.col-12{
        flex: 0 0 100%;
        max-width: 100%;
        min-height: 85vh;
        margin: 0;
    }
    .scrollable{
        height: 60vh;
    }
    .card-activity{
        min-width: 90%
    }
    .card-activity>img{
        height: 25vh;
    }
}