/* Single Event */
.total{
    height: 100vh;
    z-index: 1;
}
.carousel-indicators li{
    background-color: #fff;
}
.carousel-inner{
    margin-top: 5vw;
    min-height: auto;
    height: 88vh;
    padding: 0;
    border-radius: 1vw;
    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    -ms-border-radius: 1vw;
    -o-border-radius: 1vw;
}
.mainimg{
    height: 100%;
    object-fit: scale-down;
    object-position: center center;
    margin: -5vw auto ;
}
.no-img{
    width: 80%;    
    object-fit: scale-down !important;
    object-position: center center !important;
    margin: -5vw auto ;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 15%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    margin: 0;
}
.carousel-caption>p {
    font-weight: 600;
    margin: 0;
}
.carousel-caption>p>span {
    font-weight:normal;
}
.right-side{
    color: white;
    padding-right: 10vw;
    height: auto;
}
.breadcrumb{
    background-color: transparent;
    padding-left: 0;
    margin-top: 7vw;
    margin-bottom: 0;
    padding-bottom: 0;
    color: white;
}
.breadcrumb>*{
    font-size: 0.9em;
    color: white;
}
.breadcrumb-item>a{
    color: white;
}
.breadcrumb-item::before{
    color: white !important;
}
.content{
    height: 88vh;
}
.event-card{
    display: block;
    min-width: 100%;
    background-color: white;
    border-radius: 1vw;
    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    -ms-border-radius: 1vw;
    -o-border-radius: 1vw;
}
.event-card-body{
    overflow-y: scroll;
    max-height: 50vw;
    font-size: 1vw;
    color: #494949;
}
.event-title{
    margin: 1vw auto 3vw auto;
    color: white;
    font-weight: 700;
    font-size: 2vw;
}
.card-title{
    font-weight: 600;
}
.card-X-text{
    font-weight: 400;
    font-size: 1vw;
    padding: 0.5em 0;
    margin-top: 0.3em;
    width: 100%;
}
.scrollable{
    position: relative;
    max-height: 30vw;
    overflow-y: scroll;
}
.scrollable::-webkit-scrollbar {
    width: 12px;
}
.scrollable::-webkit-scrollbar-track {
    margin: 1em;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.scrollable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/* Past Events */
.past-events{
    margin: 4vw auto;
}
.past-events>h2{
    color: #58595b;
    font-weight: bold;
    margin-bottom: 2vw;
}
.filter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0.5vw;
}
  .filter>a{
    background-color: #D7DF23;
    margin: auto 1vw;
    border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -ms-border-radius: 0.8em;
    -o-border-radius: 0.8em;
}
  .filter>a>p{
    padding: 0.25em 1em;
    margin: 0;
    justify-content: space-between;
    align-content: center;
  }

.img {
    padding: 1em;
    background-color: none;
    border-radius: 15em;
    max-width: 70%;
    height: auto;
    -webkit-border-radius: 15em;
    -moz-border-radius: 15em;
    -ms-border-radius: 15em;
    -o-border-radius: 15em;
  }
  .card-activity{
      max-width: 15vw;
    margin: 1vw;
    border: 1px solid #4888c7 !important;
    border-radius: 1em !important;
    -webkit-border-radius: 1em !important;
    -moz-border-radius: 1em !important;
    -ms-border-radius: 1em !important;
    -o-border-radius: 1em !important;
    font-size: 0.8vw;
  }
  .card-activity>img{
    height: 17vw;
    object-fit: cover;
    object-position: center center;
    border-radius: 1em !important;
    -webkit-border-radius: 1em !important;
    -moz-border-radius: 1em !important;
    -ms-border-radius: 1em !important;
    -o-border-radius: 1em !important;
  }
  .card-body-activity{
    padding: 1vw;
  }
  .card-text-activity{
      margin-bottom: 1vh;
  }
  .card-title-activity{
    color: #af539c !important;
    font-size: 0.8vw;
    font-weight: 500;
    text-transform: uppercase;
}
  .card-title-activity>span:first-child::after{
      content: " / ";
  }
  .btn-about{
    background-color: #47636b;
    font-size: 0.8vw;
    float: right;
    width: auto;
    border-radius: 3em;
    padding: 0.3vw 2vw;
    color: white !important;
    -webkit-border-radius: 3em;
    -moz-border-radius: 3em;
    -ms-border-radius: 3em;
    -o-border-radius: 3em;
  }




/* MOBILE */

@media (max-width: 768px){
        /* Single Event */
    .gral{
        background-color: #7969af;
        height: 100vh;
    }
    .total{
        height: 55vh;
        z-index: 1;
    }
    .carousel-indicators li{
        background-color: #fff;
    }
    .carousel-inner{
        margin-top: 10vh;
        height: 50vh;
        align-content: center;
    }
    .carousel-item{
        height: 90%;
        margin-top: 4vh;
    }
    .mainimg{
        height: 90%;
        object-fit: scale-down;
        object-position: center center;
        margin: auto;
    }

    .carousel-caption>p {
        font-weight: 600;
        margin: 0;
    }
    .carousel-caption>p>span {
        font-weight:normal;
    }
    .carousel-control-prev, .carousel-control-next{
        height: 50vh;
        margin-top: 10vh;
    }
    .right-side{
        color: white;
        height: auto;
        padding: 0 5%;
    }
    .breadcrumb{
        background-color: transparent;
        margin-bottom: 0;
        color: white;
    }
    .breadcrumb>*{
        font-size: 3vw;
        color: white;
    }
    .breadcrumb-item>a{
        color: white;
    }
    .breadcrumb-item::before{
        color: white !important;
    }
    .content{
        height: 88vh;
    }
    .event-card{
        display: block;
        min-width: 100%;
        background-color: white;
        border-radius: 10px;
        margin: auto;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}
    .event-card-body{
        color: #494949;
        
        overflow-y: scroll;
        font-size: 2vh;
    }
    .event-title{
        margin: 0 auto 1vw auto;
        color: white;
        font-weight: 700;
        font-size: 7vw;
    }
    .card-title{
        font-weight: 600;
    }
    .card-X-text{
        font-weight: 400;
        font-size: 2vh;
        padding: 0;
        margin-top: 0;
        width: 100%;
    }
    .scrollable{
        max-height: 25vh;
    }
    .scrollable::-webkit-scrollbar {
        width: 12px;
    }
    /* Past Events */
    .past-events{
        margin: 10vh auto;
    }
    .past-events>h2{
            color: #58595b;
            font-weight: bold;
            margin-bottom: 10vw;
    }
    .filter{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 1vh;
    }
    .filter>a{
        background-color: #D7DF23;
        margin: auto 1vw;
        border-radius: 0.8em;
        -webkit-border-radius: 0.8em;
        -moz-border-radius: 0.8em;
        -ms-border-radius: 0.8em;
        -o-border-radius: 0.8em;
    }
    .filter>a>p{
        padding: 0.25em 1em;
        margin: 0;
        justify-content: space-between;
        align-content: center;
    }

    .img {
        padding: 1em;
        background-color: none;
        border-radius: 15em;
        max-width: 70%;
        height: auto;
        -webkit-border-radius: 15em;
        -moz-border-radius: 15em;
        -ms-border-radius: 15em;
        -o-border-radius: 15em;
    }
    .card-activity{
        max-width: 42vw;
        height: auto;
        margin: 1.5vw;
        padding: 0;
        border: 1px solid #4888c7 !important;
        border-radius: 4em !important;
        -webkit-border-radius: 4em !important;
        -moz-border-radius: 4em !important;
        -ms-border-radius: 4em !important;
        -o-border-radius: 4em !important;
        font-size: 0.8vw;
    }
      .card-activity>img{
        height: 40vw;
        object-fit: cover;
        object-position: center center;
        border-radius: 4em !important;
        -webkit-border-radius: 4em !important;
        -moz-border-radius: 4em !important;
        -ms-border-radius: 4em !important;
        -o-border-radius: 4em !important;
    }
      .card-body-activity{
        padding: 2vw;
      }
      .card-title-activity{
        color: #af539c !important;
        font-size: 4vw;
        margin: 0 0 1vh 0;
      }
      .card-text-activity{
        font-size: 3vw;
        margin: 1vh;
      }
      .btn-about{
        background-color: #47636b;
        font-size: 3vw;
        float: right;
        width: auto;
        border-radius: 1em;
        padding: 0.3vw 2vw;
        color: white !important;
        -webkit-border-radius: 1em;
        -moz-border-radius: 1em;
        -ms-border-radius: 1em;
        -o-border-radius: 1em;
      }
}