*{
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  border: 0;
  margin: 0;
}
/* Resposive text */
.x-style {
  font-size: calc(0.8em + 1vw);
  line-height: 1em;
  padding: 0.8em;
  margin: 0.8em;
}
/* Clean Links*/
a, a:link, a:visited, a:active a:hover{
  text-decoration: none;
  color: #435053;
}
a {
  color: #435053;
}
.btn:focus{
  box-shadow: none;
}
/* Fonts */
.lexend {
  font-family: 'Lexend Deca', sans-serif;
}
/* Colors */
.pistaccio{color: #D7DF23;}
.colortexts{color: #435053;}
.violet2{color: #AF529E;}

.green2{color: #4E7E6E;}
.green3{color: #94C4B4;}
.greygreen{color: #445153;}
.grey2{color: #333333;}
.brown{color: #454545;}
.blue2{color: #154455;}
.blue3{color: #33ADB6;}
.blue4{color: #28A8E0;}

/* BG-Colors */
.bg-pistaccio {
  background-color: #D7DF23 !important;
}
.bg-green2{
  background-color: #94C4B4;
}
/* NavBar title */
.logo{
  display: inline-block;
  width: 1.5em;
  height: auto;
  margin-bottom: 0.5em;
}
.title2{
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: none;
  color: #AF529E;
}
.title2:hover{
color: #435053;
}
/* NavBar */
.bg-nav{
  display: flex;
  align-items: center;
}
.separador{
  margin-bottom: 0.2em;
  font-weight: 500;
}
.input-group{
  width: 100%;
  justify-content: center;
}
.input2{
  border: none;
  border-bottom: 2px solid #435053;
  width: 75%;
  display: inline;
}
.lupa{
  display: inline;
  width: 20%;
  color: #435053;
  padding: 0;
}

.nav-link{
  display: flex;
  color: #435053;
  font-size: 1vw;
  font-weight: 500;
  padding: 0;
}
.nav-link.active{
  color: #D7DF23;
}
.dropdown-item.active, .dropdown-item:active{
  background-color: white;
  color: #D7DF23;
}
.languaje{
  font-weight: 700 !important;
}
.login{
  color: white;
  border-radius: 0.50em;
  height: 3em;
  margin-right: 0.8em;
  background-color: #D7DF23;
}
span.navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Header */
header{
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  border-radius: 0.25rem !important;
}
.carousel-supra {
  height: 100vh;
  min-height: 50vh;
  max-height: 100vh;
  background: url("../home/WAVE-WEB.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  z-index: 10;
  vertical-align: center;
  width: 100vw;
}
.active-citizens-logo{
  position: relative;
  z-index: 10;
  width:12vw;
  height: auto;
  margin: 2em 0 0 0.75em;
}
.carousel-text{
  width: 35vw;
  margin-left: 0.75em;
  margin-top: 0.5em;
}
.carousel-text>h2{  
  color: #435053;
  font-weight: 900;
  font-size: 3vw;
}
.carousel-text>h3{

  color: #435053;
  font-weight: 900;
  font-size: 2vw;
}
.carousel-text>h4{
  font-size: 1vw;
  font-weight: 500;
  text-align: left;
  line-height: 2em;
  margin-top: 2vw;
  margin-right: 2vw;
}
.btn-maps{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  margin-left: 0.8em;
  width: auto;
  height: auto;
  background-color: #AF529E;
  border-radius: 10rem;
  padding: 1em 2em;
}
.btn-maps>a{
  color: white;
  vertical-align: center;
  font-weight: 400;
  font-size: 1rem;
}
.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  z-index: -1;
}
.photoby{
  font-size: 1rem;
  color: rgba(255,255,255, 0.5);
}
/* Waht is GENIUS LOCI */
.card{
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: transparent;
  border-radius: 0.5rem;
  margin: 1em;
  background-color: #46626a;
  color: white;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.card-title{
  font-size: 2em;
  font-weight: 600;
}
.quote{
  font-size: 1.8em;
}
.mision-text{
  font-size: 1.2em;
}
.sameheight{
  height: auto;
  min-height: 40vh;
}
.sameheight>p{
  text-align: justify;
}
.card-vimeo{
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  margin: 1em;
}
.vimeo-title{
  width: 80%;
  justify-content: center;
  align-items:center;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.event-date{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  padding: 0;
  font-size: 1.5em;
}
.event-month{
  font-size: calc(1em + 1vw);
  margin: 0;
}
.event-day{
  font-size: calc(1.5em + 1vw);
  margin: 0;
}
.vimeo{
  width: 60vw;
  margin: 2em 2em 1em 2em;
}
.btn-more{
  align-self: flex-start;
  margin: 0.5em 0 1.5em 5em;
  width: auto;
  height: auto;
  background-color: #AF529E;
  padding: 0.3em 2em;
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
}
.btn-more>a{
  color: white;
  vertical-align: center;
  font-weight: 400;
  font-size: 1rem;
}
/* Carousel */
.presentation {
  margin-bottom: 70px;
}

.presentation .container-principal {
  display: flex;
  align-items: center;
  position: relative;
}

.presentation .container-principal .left-arrow,
.presentation .container-principal .right-arrow {
  position: absolute;
  border: none;
  background: rgba(255,255,255, 0.3);
  font-size: 40px;
  height: 50%;
  top: calc(50% - 20%);
  line-height: 40px;
  width: 50px;
  color: white;
  cursor: pointer;
  z-index: 500;
  transition: 0.2s ease all;
}

.presentation .container-principal .left-arrow {
  left: 0;
}

.presentation .container-principal .right-arrow {
  right: 0;
}

.presentation .container-principal .left-arrow:hover,
.presentation .container-principal .right-arrow:hover {
  background: rgba(255,255,255, 0.9);
}

.presentation .carousel-container {
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  scroll-behavior: smooth;
}

.presentation .carousel-container .carousel {
  display: flex;
  flex-wrap: nowrap;
}

.presentation .carousel-container .slide {
  min-width: 20%;
  transition: 0.3s ease all;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.presentation .carousel-container .slide:hover {
  transform: scale(1.2);
  transform-origin: center;
}

.presentation .carousel-container .slide img {
  width: 100%;
  vertical-align: top;
}


/* Footer */
footer{
  font-size: 1em;
  font-weight: 400;
  color: white;
}
.support {
  font-weight: 600;
}
.btn-donate{
  background-color: #AF529E;
  width: auto;
  border-radius: 2em;
  margin: 0.8em;
  padding: 0.1em 3em;
  color: white;
  font-weight: 600;
}
.legal{
  color: white;
  font-weight: 400;
  font-size: 0.8em;
}
.legal>a{
    font-size: 1em;
    font-weight: 500;
    color: #204496;
  }
.donate-dialog{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - 1rem);
    min-width: 50vw;
}
.donate-content{
  background-color: #94C4B4;
  color: #4E7E6E;
  font-weight: 700;
  text-align: center;
}
.donate-header{
  color: white;
  font-weight: 900;
  margin: 0 5em;
  padding: 1rem 1rem;
  text-align: center !important;

  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem 1rem;
  border-bottom: 2px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}
.donate-body{
  justify-content: center;
}

@media (max-width: 768px){
/* NavBar Mobile */
  .title2{
    font-family: 'Lexend Deca', sans-serif;
    color: #D7DF23;
    font-weight: 600;
    font-size: 0.8em;
  }
  .logo{
  display: inline-block;
  width: 1em;
  height: auto;
  margin-bottom: 0.2em;
  }
  .bg-nav{
    align-items: flex-end;
  }
  a.nav-link{
    color: #435053;
    font-weight: 500;
    font-size: inherit;
    border: none;
    margin: 0.2em;
    margin-right: 1em;
  }
  .login{
    margin-right: 0;
    width: 95%;
    color: white;
    background-color: #AF529E;
    align-self: center;
}

/* Header Mobile */
header{
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.0) !important;
}
.carousel-supra {
  background: url("../home/WAVE-MOBILE.png") no-repeat center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100vw;
  position: absolute;
  z-index: 10;
  width: 100vw;
}
.carousel-text{
  position: absolute;
  z-index: 20;
  top: 5%;
  left: -5%;
  width: 40vw;
  height: 100vh;
}
.carousel-text>h2{  
  color: white;
  font-weight: 900;
  font-size: 8vh;
  margin-top: calc(1em + 1vh);
}
.carousel-text>h3{
  color: white;
  font-weight: 900;
  font-size: 7vw;
}
.twobtn{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  left: 50%;
}
.btn-maps{
  background-color: #AF529E;
  border-radius: 2rem;
  color: white;
  vertical-align: center;
  font-weight: 400;
  font-size: 1rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
.carousel-text>h4{
  color: white;
  font-weight: 900;
}
.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  z-index: -1;
}
.photoby{
  font-size: 1rem;
  color: rgba(255,255,255, 0.5);
}
/* Cards */
.sameheight>p{
  font-size: calc(0.7em + 0.5vw)
}
.sameheight{
  height: auto;
}
.events{
  font-size: inherit;
}
}