
/* Header */
header{
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.175) !important;
  height: 90vh;
  margin-top: 10vh;
  margin-bottom: 5rem;
  padding: 0 !important;
}
.carousel-supra {
  height: 90vh;
  background: no-repeat center center;
  background-size: cover;
  position: absolute;
  z-index: 10;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: start;
  min-height: 0;
  padding: 0;
}
.supra-mobile{
  display: none;
}
.active-citizens-logo{
  position: relative;
  z-index: 10;
  width: 12vw;
  height: auto;
  margin: 0 0 1rem 0;
}
.carousel-text{
  width: 50%;
  height: 90vh;
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
}
.btn-container{
  display: flex;
}
.carousel-text>h2{  
  color: #435053;
  font-weight: 900;
  font-size: 3rem;
}
.carousel-text>h3{
  color: #435053;
  font-weight: 900;
  font-size: 2rem;
}
.carousel-text>h4{
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  line-height: 2em;
  width: 25vw;
}
.btn-maps{
  display: flex;
}
.btn-maps-pills{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  background-color: #AF529E;
  border-radius: 10rem;
  padding: 1em 2em;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
}
.btn-maps-pills:last-child{
  margin-left: 0.8em;
}
.btn-maps-pills:hover{
  transform: scale(1.1);
  transition: all .2s ease-in-out;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
} 
.btn-maps-pills>a{
  color: white;
  vertical-align: center;
  font-weight: 400;
  font-size: 1rem;
}
.carousel-item {
  height: 90vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  z-index: -1;
}
.carousel-caption .photoby{
  font-size: 1rem;
}

/* What is GENIUS LOCI */
.card{
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: transparent;
  border-radius: 0.5rem;
  margin: 1em;
  background-color: #46626a;
  color: white;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.card-title{
  font-size: 2em;
  font-weight: 600;
}
.quote{
  font-size: 1.8em;
}
.mision-text{
  font-size: 1.2em;
}
.sameheight{
  height: auto;
  min-height: 40vh;
}
.sameheight>p{
  text-align: justify;
}
.vimeo-section{
  background-color: #94C4B4;
}
.card-vimeo{
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  word-wrap: break-word;
  background-color: #94C4B4;
  background-clip: border-box;
  border: none;
  padding: 2vw 1vw;
}
.vimeo-title{
  width: 80%;
  justify-content: center;
  align-items:center;
  padding-bottom: 1vw;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.vimeo-title>p{
  font-size: calc(0.6em + 0.8vw)
}
.event-date{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  padding: 0;
  font-size: 1.5em;
}
.event-month{
  font-size: calc(1em + 1vw);
  margin: 0;
}
.event-day{
  font-size: calc(1.5em + 1vw);
  margin: 0;
}
.vimeo{
  width: 60vw;
  margin: 2em 2em 1em 2em;
}
.btn-more{
  align-self: flex-end;
  margin: 1vw 6vw;
  width: auto;
  height: auto;
  background-color: #AF529E;
  padding: 0.3em 2em;
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
}
.btn-more>a{
  color: white;
  vertical-align: center;
  font-weight: 400;
  font-size: 1rem;
}
/* Carousel */
.project-presentation {
  margin: 5rem 0;
}
.project-presentation .center{
  margin: auto;
}
.presentation .container-principal {
  display: flex;
  align-items: center;
  position: relative;
}
.presentation .container-principal .left-arrow,
.presentation .container-principal .right-arrow {
  position: absolute;
  border: none;
  background: rgba(255,255,255, 0.3);
  font-size: 40px;
  height: 50%;
  top: calc(50% - 20%);
  line-height: 40px;
  width: 50px;
  color: white;
  cursor: pointer;
  z-index: 500;
  transition: 0.2s ease all;
}
.presentation .container-principal .left-arrow {
  left: 0;
}
.presentation .container-principal .right-arrow {
  right: 0;
}
.presentation .container-principal .left-arrow:hover,
.presentation .container-principal .right-arrow:hover {
  background: rgba(255,255,255, 0.9);
}
.presentation .carousel-container {
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  scroll-behavior: smooth;
}
.presentation .carousel-container .carousel {
  display: flex;
  flex-wrap: nowrap;
}
.presentation .carousel-container .slide {
  min-width: 20%;
  transition: 0.3s ease all;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.presentation .carousel-container .slide:hover {
  transform: scale(1.2);
  transform-origin: center;
}
.presentation .carousel-container .slide img {
  width: 100%;
  vertical-align: top;
}


@media (min-width: 2001px){
  .carousel-text>h2{
    font-size: 5rem;
  }
  .carousel-text>h4{
    font-size: 1.5rem;
  }
  .btn-maps-pills>a{
    font-size: 2rem;
  }
}
@media (max-width: 2000px) and (min-width: 1441px){
  .carousel-text{
    width: 40vw;
  }
  .carousel-text>h2{
    font-size: 3vw;
  }
  .carousel-text>h4{
    font-size: 1.25vw;
    line-height: 1.5vw;
    width: 20vw;
  }
  .btn-maps{
    display: flex;
    width: 50%;
  }
  .btn-maps-pills>a{
    font-size: 1vw;
  }
}
@media (max-width: 1440px){
  .carousel-text{
    width: 40%;
    padding-left: 2rem;
  }
  .carousel-text h2{
    font-size: 2rem;
  }
  .carousel-text h4{
    font-size: .8rem;
  }
  .btn-maps{
    width: 65%;
  }
}
@media (max-width: 1023.98px){
  .supra-mobile{
    display: flex;
  }
  .supra-desktop{
    display: none;
  }
  .carousel-text{
    width: 100%;
    padding-left: 1rem;
    padding-top: 0;
    margin: auto;
    text-align: center;
  }
  .carousel-text h2{
    font-size: 2rem;
    margin: 0 auto;
    width: 50%;
  }
  .carousel-text h3{
    display: none;
  }
  .carousel-text h4{
    font-size: .8rem;
  }
  .btn-container{
    width: 100%;
    justify-content: center;
  }
  .btn-maps-pills{
    padding: 0.5rem 1rem;
  }
  .btn-maps-pills a{
    font-size: 0.8rem;
  }
  .card-title{
    font-size: 1.5rem;
  }
  .quote, .sameheight p{
    font-size: 1rem;
  }
  .project-presentation h2{
    font-size: 1.5rem;
  }
}
@media (max-width: 767.98px){
  .carousel-text{
    width: 100%;
    padding: 0 3rem;
    align-items: center;
  }
  .carousel-text h2, .carousel-text h3{
    color: white;
    text-align: center;
    width: 100%;
  }
  .twobtn{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .btn-maps-pills{
    padding: 1rem;
    color: white;
  }
  .btn-maps-pills:last-child {
    margin-left: 2rem;
  }
  /* Cards */
  .sameheight>p{
    font-size: calc(0.7em + 0.5vw)
  }
  .sameheight{
    height: auto;
  }
  .vimeo-title>p{
    font-size: 2vh;
  }
  .vimeo{
    width: 80%;
    margin-top: 3vh;
  }
  .btn-more{
    align-self: flex-end;
    margin: 0 6.5vh 1vh 0;
    width: 30%;
    height: auto;
    background-color: #AF529E;
    padding: 0;
    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
  }
  .btn-more>a{
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 2vh;
  }

  .events{
    font-size: inherit;
  }
  .presentation .carousel-container .slide {
    min-width: 100%;
    transition: 0.3s ease all;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }
}
@media (max-width: 426px){
  .carousel-text h2, .carousel-text h3{
    font-size: 1.5rem;
  }
  .card{
    margin: 1rem 0;
  }
}