/* Terms and Conditions */
.terms{
    color: #435053;
    font-weight: 400;
    font-size: 1vw;
}
.terms>h2{
    color: #435053;
    font-weight: 800;
    font-size: 2vw;
}
.terms>h4{
    color: #435053;
    font-weight: 700;
    font-size: 1.5vw;
}
@media (max-width: 768px){
    .terms{
        font-size: 1em;
    }
    .terms>h2{
        font-size: 1.25em;
    }
    .terms>h4{
        font-size: 1em;
    }
}