/* Activities */
.card {
  background-color: transparent;
  border: transparent;
}
.card-headers{
  border:none;
  background-color: #46626a;
  border-radius: 4em;
  padding: 0.5em;
  margin: 1em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  -ms-border-radius: 4em;
  -o-border-radius: 4em;
}
.card-headers:hover{
  color: white;
  background-color: #d6de26;
  border-radius: 4em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  -ms-border-radius: 4em;
  -o-border-radius: 4em;
}
.event-category-title{
  font-size: 1.5em;
  font-weight: 400;
  /* padding-left: 1em; */
  text-align: center;
  color: white;
}
.event-container{
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: flex-end;
  height: 60vh;
  background-position: center;
  margin: 0.5em 1em;
  padding: 0;
}
.circle{
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;
}
.subcatergory-card{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10em;
  background-color: #94C4B4;
  width: 8vw;
  height: 8vw;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  -ms-border-radius: 10em;
  -o-border-radius: 10em;
}
.card-title{
  font-size: 1.2vw;
  font-weight: 600;
  color:white !important;
}
.img {
  padding: 1em;
  background-color: none;
  border-radius: 15em;
  max-width: 70%;
  height: auto;
  -webkit-border-radius: 15em;
  -moz-border-radius: 15em;
  -ms-border-radius: 15em;
  -o-border-radius: 15em;
}














