/* Activities */
.card {
  background-color: transparent;
  border: transparent;
}
.card-headers{
  border:none;
  background-color: #46626a;
  border-radius: 4em;
  padding: 0.5em;
  margin: 1em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  -ms-border-radius: 4em;
  -o-border-radius: 4em;
}
.card-headers:hover{
  color: white;
  background-color: #d6de26;
  border-radius: 4em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  -ms-border-radius: 4em;
  -o-border-radius: 4em;
}
.event-category-title{
  font-size: 1.5em;
  font-weight: 400;
  /* padding-left: 1em; */
  text-align: center;
  color: white;
}
.event-container{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  height: auto;
  background-position: center;
  margin: 0.5em;
  padding: 0;
}
.circle{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.subcatergory-card{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10em;
  background-color: #94C4B4;
  width: 8vw;
  height: 8vw;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  -ms-border-radius: 10em;
  -o-border-radius: 10em;
  color: white;
  font-size: 1.2vw;
  font-weight: 600;
}
.subcatergory-card-dark{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10em;
  width: 8vw;
  height: 8vw;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  -ms-border-radius: 10em;
  -o-border-radius: 10em;
  background-color: #355550;
  color: white;
  font-size: 1.2vw;
  font-weight: 600;
}
.img {
  padding: 1em;
  background-color: none;
  border-radius: 15em;
  max-width: 70%;
  height: auto;
  -webkit-border-radius: 15em;
  -moz-border-radius: 15em;
  -ms-border-radius: 15em;
  -o-border-radius: 15em;
}
.card-activity{
  height: 28vw;
  margin: 1vw;
  border: 1px solid #4888c7 !important;
  border-radius: 1em !important;
  -webkit-border-radius: 1em !important;
  -moz-border-radius: 1em !important;
  -ms-border-radius: 1em !important;
  -o-border-radius: 1em !important;
  font-size: 0.8vw;
}
.card-activity>img{
  height: 17vw;
  object-fit: cover;
  object-position: center center;
  border-radius: 1em !important;
  -webkit-border-radius: 1em !important;
  -moz-border-radius: 1em !important;
  -ms-border-radius: 1em !important;
  -o-border-radius: 1em !important;
}
.card-body-activity{
  padding: 2vw;
}
.card-title-activity{
  color: #af539c !important;
  font-size: 1vw;
}
.btn-about{
  background-color: #47636b;
  font-size: 0.8vw;
  float: right;
  width: auto;
  border-radius: 3em;
  padding: 0.3vw 2vw;
  color: white;
  -webkit-border-radius: 3em;
  -moz-border-radius: 3em;
  -ms-border-radius: 3em;
  -o-border-radius: 3em;
}

@media (max-width: 768px){
  .event-container{
    height: 90vw;
    width: auto;
    background: no-repeat bottom center;
  }
  .subcatergory-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10em;
    background-color: #94C4B4;
    width: 15vw;
    height: 15vw;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    -ms-border-radius: 10em;
    -o-border-radius: 10em;
    color: white;
    font-size: 2.5vw;
    font-weight: 600;
  }
  .subcatergory-card-dark{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10em;
    width: 15vw;
    height: 15vw;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    -ms-border-radius: 10em;
    -o-border-radius: 10em;
    background-color: #355550;
    color: white;
    font-size: 2.5vw;
    font-weight: 600;
  }
  .event-category-title{
    font-size: 1em;
  }
  .event-container{
    display: flex;
    align-content: center;
    justify-content: center;
    height: auto;
    background-position: center;
    margin: 0;
    padding: 0;
  }
  .card-activity{
    height: 70vw;
    margin: 4vw;
    border: 1px solid #4888c7 !important;
    border-radius: 4em !important;
    -webkit-border-radius: 4em !important;
    -moz-border-radius: 4em !important;
    -ms-border-radius: 4em !important;
    -o-border-radius: 4em !important;
    font-size: 0.8vw;
}
  .card-activity>img{
    height: 40vw;
    object-fit: cover;
    object-position: center center;
    border-radius: 4em !important;
    -webkit-border-radius: 4em !important;
    -moz-border-radius: 4em !important;
    -ms-border-radius: 4em !important;
    -o-border-radius: 4em !important;
}
  .card-body-activity{
    padding: 2vw;
  }
  .card-title-activity{
    color: #af539c !important;
    font-size: 4vw;
  }
  .card-text-activity{
    font-size: 3vw;
  }
  .btn-about{
    background-color: #47636b;
    font-size: 3vw;
    float: right;
    width: auto;
    border-radius: 1em;
    padding: 0.3vw 2vw;
    color: white;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
  }
}












