/* Single Event */
.single-event {
    height: 90vh;
    margin-top: 10vh;
}
.row-main{
    width: 80%;
    margin: auto;
    height: 90vh;
}
.col-md-5.col-12, .col-md-7.col-12{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.event-card{
    display: block;
    min-width: 100%;
}
.event-card-body{
    overflow-y: scroll;
    max-height: 18vw;
    font-size: 0.8em;
}
.card-title{
    font-weight: bold;
    color: #435053;
}
.card-X-text{
    font-weight: 400;
    font-size: 1vw;
    width: 100%;
}
p a{
    color: #007bff !important;
}
.event-image{
    height: 80vh;
    object-fit: cover;
    object-position: center center;
    width: auto ;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    margin: auto;
}
.breadcrumb{
    background-color: transparent;
    padding-left: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
.breadcrumb-item{
    font-size: 0.8em;
}
.event-title>h2{
    color: #435053;
    font-weight: 700;
    font-size: 2vw;
}
.facigroup{
    margin-bottom: 1em;
    font-size: 1vw;
}
.facimg{
    max-width: 5vw;
    margin: 0 0.5em;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
}
.event-card-footer{
    background-color: transparent;
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    font-weight: 600;
}
.event-card-footer>a{
    margin: 0;
    font-weight: 600;
}
.links-card-footer{
    display: block;
    align-items: center;
    text-align: end;
}
.links-card-footer>a>.fab{
    margin: 0.5vw;
    font-size: 2em;
}
.event-date-body{
    font-size: 0.8em;
    padding: 0.5em;
    margin-top: 0.3em;
    width: 100%;
}
.event-date-body>p{
    margin: 0;
    font-weight: 600;
}
.event-date-body>p>span{
    font-weight: 400;
}
.btn:focus{
    box-shadow: none !important;
}
.btn-block{
    margin: 0;
    padding: 0.5em 0;
}
.event-register{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    width: 100%;
    height: auto;
    background-color: #AF529E;
    border-radius: 10rem;
    padding: 0.3em 2em;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
    color: white;
    vertical-align: center;
    font-weight: 400;
    font-size: 1rem;
}
.event-register:focus{
    outline: none;
}
.modal-body-event > button{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}
.event-image-modal{
    width: 100%;
}
/* SECTION ORGANIZERS */
.container.org{
    margin: 5rem auto;
}
.organizers{
    margin-bottom: 3em;
}
.organizers>div>h2{
    font-weight: bold;
}
.org-img{
    background-color: transparent;
    margin: 0.5em;
}
/* SECTION VIDEO-EVENT */
.video-event{
    background-color: #94C4B4;
    padding-bottom: 2em;
}
.vimeo-title>h4{
    color: white;
    font-weight: 600;
    font-size: 2em;
    text-align: center;
    margin: 0.8em 0;
}
.caption{
    margin: 0.8em 0;
    font-weight: 600;
    font-size: small;
}
.caption>span{
    font-weight: 400;
}

/* PROYECT PRESENTATION */
.presentation-title>h2{
    font-weight: bold;
}
.presentation {
    margin-bottom: 1em;
}
.presentation .container-principal {
    display: flex;
    align-items: center;
    position: relative;
}
.presentation .container-principal .left-arrow,
.presentation .container-principal .right-arrow {
    position: absolute;
    border: none;
    background: rgba(255,255,255, 0.3);
    font-size: 2em;
    height: 50%;
    top: calc(50% - 20%);
    line-height: 2em;
    width: 4%;
    color: white;
    cursor: pointer;
    z-index: 500;
    transition: 0.2s ease all;
}
.presentation .container-principal .left-arrow {
    left: 0;
}
.presentation .container-principal .right-arrow {
    right: 0;
}
.presentation .container-principal .left-arrow:hover,
.presentation .container-principal .right-arrow:hover {
    background: rgba(255,255,255, 0.9);
}
.presentation .carousel-container {
    width: 100%;
    padding: 1em 0;
    overflow: hidden;
    scroll-behavior: smooth;
}
.presentation .carousel-container .carousel {
    display: flex;
    flex-wrap: nowrap;
}
.presentation .carousel-container .slide {
    min-width: 20%;
    transition: 0.3s ease all;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    -webkit-transition:0.3s ease all;
    -moz-transition:0.3s ease all;
    -ms-transition:0.3s ease all;
    -o-transition:0.3s ease all;
}
.presentation .carousel-container .slide:hover {
    transform: scale(1.2);
    transform-origin: center;
}
.presentation .carousel-container .slide img {
    width: 100%;
    vertical-align: top;
}

.scrollable{
    position: relative;
    overflow-y: scroll;
}
.scrollable::-webkit-scrollbar {
    width: 12px;
}

.scrollable::-webkit-scrollbar-track {
    margin: 1em;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(156, 156, 156, 0.5); 
}

@media (min-width: 2001px){
    .breadcrumb-item{
        font-size: 1.5rem;
    }
    .event-title{
        font-size: 2.5rem;
    }
    .event-card-body{
        height: 40vh;
        max-height: 100%;
    }
    .card-title, .card-text{
        font-size: 1.5rem;
    }
    .links-card-footer>a>.fab{
        font-size: 2rem;
    }
    .event-date-body p{
        font-size: 1.5rem;
    }
    .event-register{
        font-size: 2rem;
    }
    .container.org{
        max-width: 1800px;
    }
}
@media (max-width: 2000px) and (min-width: 1441px){
    .breadcrumb-item{
        font-size: 1rem;
    }
    .event-title{
        font-size: 2rem;
    }
    .event-card-body{
        height: 40vh;
        max-height: 100%;
    }
    .card-title, .card-text{
        font-size: 1rem;
    }
    .links-card-footer>a>.fab{
        font-size: 1rem;
    }
    .event-date-body p{
        font-size: 1rem;
    }
    .event-register{
        font-size: 1rem;
    }
    .container.org{
        max-width: 1800px;
    }
}
@media (max-width: 1440px){
    .event-title{
        font-size: 1.5rem;
    }
    .event-card-body{
        height: 35vh;
        max-height: 100%;
    }
}
@media (max-width: 1024px){
    .row-main{
        max-width: 100%;
        width: 100%;
    }
    .event-card-body{
        height: 30vh;
        max-height: 100%;
    }
    .facigroup{
        font-size: .9rem;
    }
}
@media (max-width: 767.98px){
    .single-event, .row-main{
        height: 100%;
    }
    .event-title{
        font-size: 1.5rem;
    }
    .event-card-body{
        max-height: 40vh;
        font-size: .9rem;
    }
    .extlink, .facigroup {
        font-size: .9rem;
    }
}
@media (max-width: 426px){
    .row-main{
        padding-top: 1rem;
    }
    .col-md-5.col-12, .col-md-7.col-12{
        padding: 0;
    }
    .facimg{
        max-width: 15%;
    }
    .organizers .text-center .row .col-6{
        padding: 0;
    }
}