/* Single Event */
.event {
    margin: 6em auto 0em auto;
}
.row-main{
    align-items: center;
    margin: 5em 0;
}
.event-card{
    display: block;
    min-width: 100%;
}
.event-card-body{
    overflow-y: scroll;
    max-height: 18vw;
    font-size: 0.8em;
}
.event-image{
    max-height: 35vw;
    height: 35vw;
      object-fit: cover;
      object-position: center center;
    width: auto ;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}
.breadcrumb{
    background-color: transparent;
    padding-left: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
.breadcrumb-item{
    font-size: 0.8em;
}
.event-title>h2{
    color: #435053;
    font-weight: 700;
    font-size: 2vw;
}
.facigroup{
    margin-bottom: 1em;
}
.facimg{
    max-width: 3vw;
    margin: 0 0.5em;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
}
.event-card-footer{
    background-color: transparent;
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    font-weight: 600;
}
.event-card-footer>a{
    margin: 0;
    font-weight: 600;
}
.links-card-footer{
    display: flex;
    align-items: center;
}
.links-card-footer>a>.fab{
    margin: 0 0.5em 0 0;
    font-size: 2em;
}
.event-date-body{
    font-size: 0.8em;
    padding: 0.5em;
    margin-top: 0.3em;
    width: 100%;
}
.event-date-body>p{
    margin: 0;
    font-weight: 600;
}
.event-date-body>p>span{
    font-weight: 400;
}
.btn:focus{
    box-shadow: none !important;
}
.btn-block{
    margin: 0;
    padding: 0.5em 0;
}
.event-register{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    width: 100%;
    height: auto;
    background-color: #AF529E;
    border-radius: 10rem;
    padding: 0.3em 2em;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
    color: white;
    vertical-align: center;
    font-weight: 400;
    font-size: 1rem;
}
.event-register:focus{
    outline: none;
}
/* SECTION ORGANIZERS */
.organizers{
    margin-bottom: 3em;
}
.organizers>div>h2{
    font-weight: bold;
}
.org-img{
    background-color: transparent;
    margin: 0.5em;
}
/* SECTION VIDEO-EVENT */
.video-event{
    background-color: #94C4B4;
    padding-bottom: 2em;
}
.vimeo-title>h4{
    color: white;
    font-weight: 600;
    font-size: 2em;
    text-align: center;
    margin: 0.8em 0;
}
.caption{
    margin: 0.8em 0;
    font-weight: 600;
    font-size: small;
}
.caption>span{
    font-weight: 400;
}

/* PROYECT PRESENTATION */
.presentation-title>h2{
    font-weight: bold;
}
.presentation {
    margin-bottom: 1em;
}
.presentation .container-principal {
    display: flex;
    align-items: center;
    position: relative;
}
.presentation .container-principal .left-arrow,
.presentation .container-principal .right-arrow {
    position: absolute;
    border: none;
    background: rgba(255,255,255, 0.3);
    font-size: 2em;
    height: 50%;
    top: calc(50% - 20%);
    line-height: 2em;
    width: 4%;
    color: white;
    cursor: pointer;
    z-index: 500;
    transition: 0.2s ease all;
}
.presentation .container-principal .left-arrow {
    left: 0;
}
.presentation .container-principal .right-arrow {
    right: 0;
}
.presentation .container-principal .left-arrow:hover,
.presentation .container-principal .right-arrow:hover {
    background: rgba(255,255,255, 0.9);
}
.presentation .carousel-container {
    width: 100%;
    padding: 1em 0;
    overflow: hidden;
    scroll-behavior: smooth;
}
.presentation .carousel-container .carousel {
    display: flex;
    flex-wrap: nowrap;
}
.presentation .carousel-container .slide {
    min-width: 20%;
    transition: 0.3s ease all;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    -webkit-transition:0.3s ease all;
    -moz-transition:0.3s ease all;
    -ms-transition:0.3s ease all;
    -o-transition:0.3s ease all;
}
.presentation .carousel-container .slide:hover {
    transform: scale(1.2);
    transform-origin: center;
}
.presentation .carousel-container .slide img {
    width: 100%;
    vertical-align: top;
}

  /* MOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILEMOBILE */

@media (max-width: 768px){
    /* Event */
    .event{
        height: auto;
        margin: 4em 0;
    }
    .event-img-cont{
        height: 100%;
      object-fit: cover;
      object-position: center center;
    }
    .event-image-res{
        height: 100vw;
        border-radius: 1em;
        -webkit-border-radius: 1em;
        -moz-border-radius: 1em;
        -ms-border-radius: 1em;
        -o-border-radius: 1em;
        object-fit: cover;
        object-position: center center;
}
    .breadcrumb{
        background-color: transparent;
        padding-left: 0;
        margin: 0;
        padding-bottom: 0;
        font-size: 1em;
    }
    .breadcrumb-item{
        font-size: 0.5em;
    }
    .event-title>h2{
        color: #435053;
        font-weight: 700;
        font-size: 6vw;
    }
    .event-card{
        height: 70vh;
    }
    .event-card-body{
        overflow-y: scroll;
        max-height: 70vh;
        font-size: 0.8em;
    }
    .event-card-footer{
        height: 10vw;
    }
    .facimg{
        max-width: 10vw;
    }
    /* Cards */
    .sameheight>p{
        font-size: calc(0.7em + 0.5vw)
    }
    .sameheight{
        height: auto;
    }
    .events{
        font-size: inherit;
    }
    .presentation .carousel-container .slide {
        min-width: 100%;
        transition: 0.3s ease all;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }
}