/* Header Proposals */
header{
  height: 90vh;
  margin-top: 10vh;
}
.map{
  height: 90vh;
  min-height: 50vh;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  z-index: 10;
  vertical-align: center;
  width: 100%;
}
.sidebar{
  background-color: #65318D;
  max-height: 94.5vh;
}
.active-citizens-logo-maps{
  position: relative;
  z-index: 10;
  width: 20vh;
  height: auto;
  margin: 2vw 0 0 2vw;
}
.sidebar>h2{
  color: white;
  margin: 1.25vw 0 0 2vw;
  font-weight: 800;
  font-size: 2vw;
}
.hide>h4{
  color: white;
  margin: 1vw 2vw 0 2vw;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 135%;
}
.hide>h6>span{
  color: white;
  margin: 1vw 0 0 0;
  font-size: 0.9em;
  font-weight: 500;
  line-height: 150%;
  font-style: italic;
}
.hide>h6{
  color: white;
  margin: 0.5vw 2vw 0 2vw;
  font-size: 0.9em;
  font-weight: lighter;
  line-height: 150%;
}
.btn-how{
  font-size: 0.9em;
  margin: 1vw auto 0 auto;
  padding: 0.5vw 2vw;
  background-color: #31ACB4;
  width: 93%;
  border-radius: 1em;
  color: white;
  font-weight: 600;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}
.btn-how-modal{
  font-size: 1em;
  margin-top: 1.5vw;
  width: 100%;
  padding: 0.5vw 3vw;
  background-color: #31ACB4;
  color: white;
  font-weight: 600;
  border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -ms-border-radius: 0.8em;
  -o-border-radius: 0.8em;
}
.btn-how-modal:focus{
  box-shadow: transparent;
  outline: transparent;
}
.btn-how-modal:hover{
  color: black;
}
.how-content{
  background-color: #65318D;
  justify-content: center;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
}
.modal-body-how{
  font-size: 0.8em;
  font-weight: 400;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 1.5vw;
  color: white;
}
#emailHelp{
  color: white !important;
}
.modal-body-how>h6{
  margin-bottom: 2vw;
  font-weight: 500;
}
.modal-body-how>p{
  margin: 0;
}
.btn-container{
  /* position: absolute;
  bottom: 0;
  width: 95%; */
  width: 100%;
}
.btn-container button, .botones button{
  border-radius: 10px;
}
.botones{
  display: flex;
  justify-content: space-around;
  margin: 2vw 0px;
  width: 100%;
}
.botones button{
  width: 100%;
  display: flex;
  height: auto;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  min-height: 4em;
}
.botones button img {
  width: 2em;
  margin: 0;
}
.botones button p {
  width: 100%;
  color: white;
  font-weight: 500;
  margin: 0;
  display: flex;
  font-size: 1em;
  flex-direction: row;
  text-align: start;
  padding-left: 0.5em;
}
.btn-header{
  border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -ms-border-radius: 1.5em;
  -o-border-radius: 1.5em;
  height: 5vw;
  display: block;
  width: 40%;
  margin: auto 1vw;
}
.btn-header:hover{
  transform: scale(1.1);
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.btn-header-question{
  background-color: #F5BD1F;
  display: flex;
}
.btn-header-point{
  background-color: #EF4138;
}
.btn>p{
  font-size: 0.75em;
  color: white;
  font-weight: 500;
  margin: 0;
}
/* MODAL-FORM-MAP */
.modal-content-map{
  background-color: #65318D;
  color: white;
  min-height: 20vw;
}
.general{
  margin: 1em 2em;
}
.general>.btn{
  background-color: #EF4138;
  color: white;
  font-weight: 600;
  border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -ms-border-radius: 0.8em;
  -o-border-radius: 0.8em;
  display: block;
  width: 100%;
  text-align: left;
  text-transform: uppercase;
}
.general>.btn:focus{
  background-color: #F5BD1F;
}
#ADDLOCATION{
  margin-top: 2em;
}
.scrollable{
  position: relative;
  max-height: 20vw;
  overflow-y: scroll;
}
.scrollable::-webkit-scrollbar {
  width: 12px;
}
.scrollable::-webkit-scrollbar-track {
  margin: 1em;
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.scrollable::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 200px rgba(255, 255, 255, 100); 
}
/* SIDEBAR-SCROLLABLE */
.sidebar-scrollable{
  max-height: 42vh;
}
.proposal-card-body.scrollable {
  max-height: 70vh;
  padding-right: 1em;
}
.sidebar-scrollable::-webkit-scrollbar-track{
  -webkit-box-shadow: none;
}
.proposal-card-body.scrollable::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(128, 128, 128, 0.3);
}
.proposal-card-body.scrollable::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(82, 82, 82, 0.5);
}
​/* FIN SIDEBAR-SCROLLABLE */
.form-group{
  margin-right: 0.5em;
}
input::placeholder, textarea::placeholder, option, option::placeholder{
  font-style: italic;
  font-size: 1em;
}
.form-check>label{
  font-size: 1em;
}
.gender, .connect{
  font-size: 1em;
}
.spinner-border{
  margin: auto 1vw 0.1vw auto;
}
.line2{
  border-top: 1px solid white;
  height: 1px;
  max-width: 100%;
  padding: 0;
  margin: 1em auto 1em auto;
}
#thanks{
  margin: auto 2vw;
}
.thanks{
  width: 90%;
  text-align: center;
  margin: auto;
  font-size: 1.5vw;
}
.modal-thanks{
  height: 20vh;
}
.btn-back{
  background-color: #617e95;
  color: white;
  font-weight: 400;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  width: 30%;
  margin:auto;
  text-align: center;
  padding: 0 0.5em;
}
.border-wrong{
  border: 2px solid red;
}
.border-ok{
  border: transparent;
}
/* Keywords */
.select2-selection--multiple{
  border: 1px solid #ccc;
  color: #555;
  vertical-align: middle;
  border-radius: 0.5em !important;
  width: 100%;
  -webkit-border-radius: 0.5em !important;
  -moz-border-radius: 0.5em !important;
  -ms-border-radius: 0.5em !important;
  -o-border-radius: 0.5em !important;
}
.select2-selection--multiple:focus{
  border: transparent !important;
  box-shadow: none !important;
  outline: transparent !important;
}
.select2-selection__choice{
  background-color: #617e95 !important;
  border: transparent !important;
}
.select2-selection__choice>span{
  color: #445154;
}
.select2-selection__choice>button>span{
  color: #445154 !important;
  border-right: #445154 !important;
}
.select2-selection__choice>button:hover{
  background-color: #93c2b4 !important;
}
label{
  margin-bottom: 0;
}
.labelObject{
  margin-top: 1em;
}
.form-group>label{
  font-size: 1em;
}
input:focus, textarea:focus, select:focus{
  border-color: none !important;
  box-shadow: none !important;
  outline: none !important;
}
.custom-control>label{
  font-size: 1em;
}
.form-control, .custom-select{
  height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5em;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.files-container{
  gap: 1em;
  align-items: end;
}
.form-group-file{
  font-size: 0.875rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.form-group-file>input{
  margin-bottom: 0.5vw;

}
.line{
  border-top: 1px solid white;
  height: 1px;
  max-width: 90%;
  padding: 0;
  margin: 1em auto 1em auto;
}
input[type=file]::-webkit-file-upload-button{
  border-radius: 0.5em;
  border: none;
  padding: 0.5em;
  color: white;
  background-color: #31ACB4;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
}
.email{
  margin-bottom: 1em;
  margin-top: 1em;
}
.form-check-label>p{
  margin: 0;
}
.linkterms{
  margin: 0;
  color: #31ACB4 !important;
  font-weight: 500;
}
.form-check-data>label>p{
  padding: 0;
  font-size: 1em;
}
.linkterms:visited{
  color: white;
}
.btn-form{
  background-color: #31ACB4;
  color: white;
  font-weight: 600;
  border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -ms-border-radius: 0.8em;
  -o-border-radius: 0.8em;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.finalSubmit{
  width: 100%;
  margin: auto;
  text-align: center;
}
.inner-group{
  font-weight: 600;
}
/* Modal Picture */
.picture-content{
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.modal-body-picture{
  margin: 0;
  padding: 1em 3em;
}
.title-container{
  border-bottom: solid 1px #65318D;
  padding: 1em 0;
}
.title-container h4{
  font-size: 1.15em;
  font-weight: 700;
  color: #65318D;
}
.pic-card{
  width: 100% !important;
  border-radius: 0;
  border: none;
  max-height: 70vh;
  overflow: hidden;
  padding: 2em 0 0 0;
  margin-bottom: 1em;
}
.pic-card img{
  width: 100%;
  object-fit: cover;
  object-position: center center;
  max-height: 500px;
}
.pic-card .no-img{
  width: 100%;
  object-fit: cover;
  object-position: center center;
  max-height: 500px;
  margin: 0;
}
.pic-card .no-img + .card-footer{
  display: none;
}
.pic-card .card-footer{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.46);
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
.pic-card .card-footer .card-title, .pic-card .card-footer .card-text{
  color: white;
  font-size: .8em;
  padding: 0;
  margin: 0;
  font-weight: 600;
  display: inline-block;
}
.pic-card .card-footer .card-title{
  margin-right: 5px;
}
.pic-card .card-footer .card-text::after{
  content: " |";
  margin-right: 5px;
}
.pic-card .card-footer .card-text:last-child:after{
  content: "";
  margin-right: 0;
}
.proposal-card{
  border: none;
}
.proposal-card-body{
  max-height: 526px;
  padding: 2em 0 0 2em;
}
.proposal-card-body .card-title{
  font-weight: 700;
  margin: 0;
  font-size: 0.9em;
  color: #65318D;
}
.proposal-card-body .card-text{
  font-weight: 400;
  font-size: 0.9em;
  padding: 0em;
  margin-top: 0em;
  width: 100%;
  color: #65318D;
}
.badges{
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 0;
  flex-wrap: wrap;
}
.badge{
  margin: 0 0.5em 0.5em 0;
  font-size: .9em;
  background-color: #F5BD1F;
  color: #fff;
  padding: 0.5em;
}
.btn-back{
  margin-top: 1em;
  margin-bottom: 1.5em;
}
  
@media (min-width: 2001px){
  .hide>h4{
    font-size: 1.25em;
  }
  .hide>h6>span{
    font-size: 1em;
  }
  .hide>h6{
    font-size: 1.25em;
  }
  .btn-how{
    font-size: 1.5em;
  }
  .botones button p{
    font-size: 1.5em;
  }
  .botones button img {
    width: 4em;
    margin: 0 1em 0 0;
  }
  .how-dialog{
    max-width: 800px !important;
  }
  .modal-body-how{
    font-size: 1.5em;
  }
  .modal-body-how .close{
    font-size: 2.5rem;
  }
  .modal-body-how h6{
    font-size: 1.25em;
  }
  .modal-body-how form div .form-control{
    font-size: 1em;
  }
  .modal-body-map .close{
    font-size: 3.5em;
  }
  .general .btn{
    font-size: 1.5em;
  }
  .form-control, .custom-select, .form-group label, #jquery-script-menu label, #jquery-script-menu .form-control, #keywords_help, .files-container label, .form-group-file input, .connect, .form-check-data>label>p{
    font-size: 1.5rem;
  }
  .select2-container--default .select2-selection--multiple{
    height: auto;
    font-size: 1.5rem;
  }
  .files-container{
    align-items: end;
  }
  .btn-form, .btn-back{
    margin-top: 2em;
    font-size: 1.5em;
  }
  .btn-back{
    margin-top: 1em;
    margin-bottom: 1.5em;
  }
  .modal-body-picture .close{
    font-size: 3em;
  }
  .title-container h4, .proposal-card-body{
    font-size: 1.5em;
  }
  .proposal-card-body.scrollable {
    max-height: 47vh;
    padding-right: 1em;
  }
}
@media (max-width: 2000px) and (min-width: 1441px){
  .form-control, .custom-select, .form-group label, #jquery-script-menu label, #jquery-script-menu .form-control, #keywords_help, .files-container label, .form-group-file input, .connect, .modal-body-how>h6, .modal-body-how>p{
    font-size: 1em;
  }
  .proposal-card-body.scrollable {
    max-height: 47vh;
    padding-right: 1em;
  }
}
@media (max-width: 1200px){
  .proposal-card-body{
    max-height: 436px;
  }
  .btn-container{
    width: 90%;
  }
  .botones button{
    min-height: 6em;
  }
  .botones button img{
    display: none;
  }
  .sidebar-scrollable{
    max-height: 40vh;
  }
}
@media (max-width: 991.98px){
  .sidebar-scrollable{
    max-height: 50vh;
  }
  .btn-container{
    position: relative;
    width: 100%;
  }
  .btn-container button, .botones button{
    font-size: .8em;
  }
  .botones button p{
    justify-content: center;
  }
  .btn-how{
    width: 78%;
  }
  .modal-body-picture{
    padding: 1em 2em;
  }
  .modal-body-picture .close{
    position: absolute;
    right: 1em;
  }
  .proposal-card-body{
    padding: 0;
  }
}
@media (max-width: 767.98px){
    /* Principal */
    .sidebar>h2{
      margin: 2.5vh 0 0 2vw;
      font-weight: 800;
      font-size: 5vw;
    }
    .mapa{
      min-height: 55vh;
      margin: 0;
    }
    .btn-container button, .botones button{
      min-height: 3em;
      border-radius: 10px;
    }
    .botones{
      width: 80%;
      margin: 1em auto;
    }
    /* MODAL-FORM-MAP */
    .scrollable{
      max-height: 44vh;
    }
    .line2{
      border-top: 1px solid white;
      height: 1px;
      max-width: 100%;
      padding: 0;
      margin: 1em auto 1em auto;
    }
    .thanks{
      width: 100%;
      text-align: center;
      border-top: honeydew 1px solid;
      border-bottom: honeydew 1px solid;
    }
      
    /* Keywords */
    .tag-container {
      display: flex;
      flex-flow: row wrap;
    }
    .tag{
      pointer-events: none;
      background-color: #617e95;
      border-radius: 0.4vw;
      color: white;
      padding: 0.5vw;
      margin: 0.5vw;
      -webkit-border-radius: 0.4vw;
      -moz-border-radius: 0.4vw;
      -ms-border-radius: 0.4vw;
      -o-border-radius: 0.4vw;
    }
    
    .tag::before {
      pointer-events: all;
      display: inline-block;
      content: 'x';
      margin-right: 0.5vw;
      text-align: center;
      color: #ccc;
      background-color: #4d6375;
      padding: 0 0.25vw 0.15vw 0.25vw;
      cursor: pointer;
    }
}
@media (max-width: 575.98px){
  .age{
    margin-top: 1em;
  }
  .btn-container button, .botones button {
    min-height: 4em;
  }
  .active-citizens-logo-maps{
    width: 25vw;
    margin: 2em 0.5em 0.5em 0.5em;
  }
  .sidebar>h2{
    margin: 2.5vh 0 1rem 2vw;
    font-weight: 800;
    font-size: 6vw;
  }
}
@media (max-width: 320.98px){
  .sidebar>h2{
    margin: 2.5vh 0 1em 2vw;
  }
  .botones button img{
    display: none;
  }
  #ADDLOCATION{
    padding: 0;
    margin-top: 0;
    margin-bottom: 1em;
  }
  .general{
    margin: 0;
  }
  .finalSubmit{
    margin-top: 1em;
  }
}