/* Header */
header{
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.175) !important;
}
.short{
  height: 70vh;
}
.carousel-supra-banner {
  height: 60vh;
  margin-top: 10vh;
  min-height: 50vh;
  max-height: 90vh;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  z-index: 10;
  vertical-align: center;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
}
.carousel-supra-banner .carousel-text{
  height: 70%;
  padding-left: 1em;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
}
/* .supra-banner2{
  background: no-repeat center bottom;
  background-size: contain;
  position: absolute;
  z-index: 10;
  text-align: center;
} */
.supra-mobile{
  display: none;
}
.active-citizens-logo{
  position: relative;
  z-index: 10;
  width:12vw;
  height: auto;
  margin: 0 0 0 1em;
}
.carousel-text h2{  
  color: #435053;
  font-weight: 900;
  font-size: 2rem !important;
  margin-top: 1rem;
}
.carousel-text>h3{
  color: #435053;
  font-weight: 900;
  font-size: 2vw;
}
.carousel-text>h4{
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  line-height: 2em;
  width: 25vw;
}
.carousel-item {
  height: 70vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  z-index: -1;
}
.carousel-caption .photoby{
  font-size: 1em;
}
.photoby-banner{
  position: absolute;
  z-index: 5000;
  bottom: 0em;
  font-size: 1rem;
  color: rgb(221, 221, 221);
  right: 44%;
}/* PARTNERS */
.card {
  background-color: transparent;
  border: transparent;
}
.card-headers{
  border:none;
  background-color: #46626a;
  border-radius: 4em;
  padding: 0.5em;
  margin: 1em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  -ms-border-radius: 4em;
  -o-border-radius: 4em;
}
.card-headers:hover{
  color: white;
  background-color: #d6de26;
  border-radius: 4em;
  -webkit-webkit: border radius 4em;
  -moz-webkit: border radius 4em;
  -ms-webkit: border radius 4em;
  -o-webkit: border radius 4em;
}
.event-category-title{
  font-size: 1.5em;
  font-weight: 400;
  /* padding-left: 1em; */
  text-align: center;
  color: white;
}
.event-container{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  margin: 1em;
  padding: 0;
}
.partner-card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border: 2px solid #d6de26;
  border-radius: 0.5em;
  margin: 0.2em;
  padding: 0.2em;
  height: 20vw;
}
.namepartner{
  color: #4E7E6E;
  font-size: 1vw;
  font-weight: 700;
  padding: 0.5em;
  margin: 0;
}
.partner-card:hover{
  cursor: pointer;
  transform: scale(1.02, 1.02);
  -webkit-transform: scale(1.02, 1.02);
  -moz-transform: scale(1.02, 1.02);
  -ms-transform: scale(1.02, 1.02);
  -o-transform: scale(1.02, 1.02);
}
.img {
  padding: 1em;
  background: url(../events\ photos/meeting.jpg);
  background-position: center;
  background-size: contain;
  max-width: 8vw;
  height: auto;
  border-radius: 15em;
  -webkit-border-radius: 15em;
  -moz-border-radius: 15em;
  -ms-border-radius: 15em;
  -o-border-radius: 15em;
}
.img3{
  background-color: none;
  width: auto;
  max-height: 40vh;
  border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
}
.modal-dialog{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  min-width: calc(50% - 1rem);
  border: none;
}
.modal-content{
  background-color: white;
  border: 5px solid #d6de26;
  border-radius: 0.5em;
  color: #435053;
}
.modal-logo{
  height: 4vw;
  width: auto;
  margin: 1em 0 2em 0;
}
.modal-footer>p{
  margin: 0.2em 1em;
  font-weight: 600;
}
.modal-footer>a{
  margin: 0.2em 1em;
}
.modal-footer>a>.fab{
  margin: 0.2em -0.5em;
  font-size: 1.5em;
}
@media (min-width: 2001px){
  .carousel-text h2{
    font-size: 4rem !important;
  }
  .carousel-text>h4{
    font-size: 1.5rem;
  }
  .modal-partner .modal-body p{
    font-size: 1.5rem;
  }
}
@media (max-width: 2000px) and (min-width: 1441px){
  .carousel-text h2{
    font-size: 3rem !important;
  }
  .carousel-text>h4{
    font-size: 1.5rem;
  }
  .modal-partner .modal-body p{
    font-size: 1.5rem;
  }
}
@media (max-width: 1440px){
  .carousel-text h2{
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  .carousel-text h4{
    font-size: .8rem;
  }
}
@media (max-width: 1023.98px){
  .supra-banner2{
    background: no-repeat center bottom;
    background-size: cover;
    position: absolute;
    z-index: 10;
    text-align: center;
  }
  .supra-mobile{
    display: flex;
  }
  .supra-desktop{
    display: none;
  }
  .carousel-supra-banner{
    padding-left: 2rem;
  }
  .carousel-text{
    padding-top: 0;
  }
  .carousel-text{
    padding-top: 0;
  }
  .carousel-text h2{
    color: white !important;
  }
}
@media (max-width: 767.98px){
  /* HEADER */
  .carousel-text h2{
    font-size: 2.5rem;
    margin-top: 2rem;
    color: white;
  }
  /* HEADER FIN */
  /* Partners Cards */
  .partner-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border: 2px solid #d6de26;
    border-radius: 0.5em;
    margin: 0.2em;
    padding: 0.2em;
    height: auto;
  }
  .card-title{
    width: 90%;
    margin: 0.2em;
    background-color: #AF529E;
    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
    box-shadow: 2px 3px 8px -3px #3F4F4C;
}
  .card-title>h6{
    font-size: 1em;
  }
  .namepartner{
    font-size: 1em;
  }
  .img {
    padding: 1em;
    background-color: none;
    max-width: 40vw;
    height: auto;
    border-radius: 15em;
    -webkit-border-radius: 15em;
    -moz-border-radius: 15em;
    -ms-border-radius: 15em;
    -o-border-radius: 15em;
    margin-bottom: 1rem;
  }
  /* Modal MObile */
  .modal-dialog{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    border: none;
  }
  .modal-content{
    background-color: white;
    border: 5px solid #d6de26;
    border-radius: 0.5em;
    color: #435053;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
  }
  .modal-logo{
    height: 10vw;
    width: auto;
    margin: 1em 0 2em 0;
  }
}