/* PARTNERS */
.card {
  background-color: transparent;
  border: transparent;
}
.card-headers{
  border:none;
  background-color: #46626a;
  border-radius: 4em;
  padding: 0.5em;
  margin: 1em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  -ms-border-radius: 4em;
  -o-border-radius: 4em;
}
.card-headers:hover{
  color: white;
  background-color: #d6de26;
  border-radius: 4em;
  -webkit-webkit: border radius 4em;
  -moz-webkit: border radius 4em;
  -ms-webkit: border radius 4em;
  -o-webkit: border radius 4em;
}
.event-category-title{
  font-size: 1.5em;
  font-weight: 400;
  /* padding-left: 1em; */
  text-align: center;
  color: white;
}
.event-container{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  margin: 1em;
  padding: 0;
}
.partner-card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border: 2px solid #d6de26;
  border-radius: 0.5em;
  margin: 0.2em;
  padding: 0.2em;
  height: 20vw;
}
.namepartner{
  color: #4E7E6E;
  font-size: 1vw;
  font-weight: 700;
  padding: 0.5em;
  margin: 0;
}
.partner-card:hover{
  cursor: pointer;
  transform: scale(1.02, 1.02);
  -webkit-transform: scale(1.02, 1.02);
  -moz-transform: scale(1.02, 1.02);
  -ms-transform: scale(1.02, 1.02);
  -o-transform: scale(1.02, 1.02);
}
.img {
  padding: 1em;
  background: url(../events\ photos/meeting.jpg);
  background-position: center;
  background-size: contain;
  max-width: 10vw;
  height: auto;
  border-radius: 15em;
  -webkit-border-radius: 15em;
  -moz-border-radius: 15em;
  -ms-border-radius: 15em;
  -o-border-radius: 15em;
}
.img3{
  background-color: none;
  width: auto;
  max-height: 40vh;
  border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
}
.modal-dialog{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  min-width: calc(50% - 1rem);
  border: none;
}
.modal-content{
  background-color: white;
  border: 5px solid #d6de26;
  border-radius: 0.5em;
  color: #435053;
}
.modal-logo{
  height: 4vw;
  width: auto;
  margin: 1em 0 2em 0;
}
.modal-footer>p{
  margin: 0.2em 1em;
  font-weight: 600;
}
.modal-footer>a{
  margin: 0.2em 1em;
}
.modal-footer>a>.fab{
  margin: 0.2em -0.5em;
  font-size: 1.5em;
}

@media (max-width: 767px){
/* Partners Cards */
.partner-card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border: 2px solid #d6de26;
  border-radius: 0.5em;
  margin: 0.2em;
  padding: 0.2em;
  height: auto;
}
.card-title{
  width: 90%;
  margin: 0.2em;
  background-color: #AF529E;
  border-radius: 2em;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
  box-shadow: 2px 3px 8px -3px #3F4F4C;
}
.card-title>h6{
  font-size: 1em;
}
.namepartner{
  font-size: 1em;
}
.img {
  padding: 1em;
  background-color: none;
  max-width: 40vw;
  height: auto;
  border-radius: 15em;
  -webkit-border-radius: 15em;
  -moz-border-radius: 15em;
  -ms-border-radius: 15em;
  -o-border-radius: 15em;
}
/* Modal MObile */
.modal-dialog{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  border: none;
}
.modal-content{
  background-color: white;
  border: 5px solid #d6de26;
  border-radius: 0.5em;
  color: #435053;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
}
.modal-logo{
  height: 20vw;
  width: auto;
  margin: 1em 0 2em 0;
}
}
