.banner{
  height: 30vw;
}
.banner-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.breadcrumb{
  background-color: transparent;
  padding-left: 0;
  margin-top: 3vw;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #445154;
}
.form-title{
  font-size: 2.5vw;
  font-weight: 700;
  color: #445154;
  margin-top: 1vw;
}
.form{
  margin-bottom: 10vw;
}
.nuvacol{
  margin: auto;
}
/* Form */
.form2{
  display: flex;
  flex-direction: column;
  margin: 2vw 1vw;
}
.form2 h6{
  font-size: 1.5vw;
}
.form-group>p{
  width: 100%;
  margin: 0.5em;
}
label {
  display: flex;
  margin: 0.5rem;
}
.input{
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}
.form-check-label{
  margin: 0 1vw;
}
.form-check-label>a{
  margin: auto 0.5vw;
  color:blue;
}
.emailfit{
  width: 100%;
}
label{
  font-size: 0.8em;
}
.form-check{
  margin: 3vw 1vw 4vw 0.5vw;
}
.btn-form{
  background-color: #AF529E;
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
  padding: 0.5em;
  color: white;
}
.right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.back-light{
  background-color: #f1f2f2;
  margin: 0 0 0 ;
  width: 100%;
  padding: 1em;
}
.back-light h4{
  font-size: 1vw;
  font-weight: 600;
  margin: 0;
}
.back-light p{
  font-size: 1vw;
  margin-bottom: 1vw;
}
.event-img{
  height: 80%;
}
.map-img{
  width: 80%;
  margin: 0;
}
.fa-globe{
  width: 100%;
  margin: 1vw auto;
  font-size: 5vw;
}
.event-category{
  font-size: 0.7em;
  color: #AF529E;
}
.event-activity{
  font-size: 1.2em;
}


@media (max-width: 768px){
  .form{
    padding: 0;
  }
  .nuvacol{
    padding: 0;
  }
  .right{
    padding: 0;
    margin: auto;
  }
  .breadcrumb{
    font-size: 4vw;
  }
  .form-title{
    font-size: 3.5vh;
    margin-top: 2vh;
    margin-bottom: 3vh;
  }
  .form2>h6{
    font-size: 2.5vh;
  }
  .back-light{
    padding: 1vh;
    margin: auto;
  }
  .table{
    background-color: #f1f2f2;
    font-size: 2vh;
    margin: 0;
  }
  .first-row>td {
    font-weight: 600;
    padding: 0;
    vertical-align: center;
    text-align: center;
    border-bottom: 2px solid white !important;
  }
  .second-row>td{
    padding: 0;
    vertical-align: center;
    text-align: center;
  }
  .form-check-label{
    display: inline-block;
  }
  .form-check-label>a{
    margin-left: 0.5vh;
  }
}
