/* Events */
.filter{
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}
.filter>a{
  background-color: #D7DF23;
  border-radius: 3em;
  -webkit-border-radius: 3em;
  -moz-border-radius: 3em;
  -ms-border-radius: 3em;
  -o-border-radius: 3em;
  margin: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30vw;
}
.filter>a>p{
  padding: 0.5em 1em;
  margin: 0;
  justify-content: space-between;
  align-content: center;
}
@media (max-width: 767px){
  /* Events Mobile */
  .filter{
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    width: 100vw;
  }
  .filter>.nav-link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    margin: 0 1em;
  }
  .filter>a>p{
    padding: 0.5em 1em;
    margin: 0;
    justify-content: space-between;
    align-content: center;
  }
  .events{
    font-weight: 900;
    color: #435053;
    margin: 2rem;
  }
}