/* Section */
.img-new{
  max-width: 12vw;
  border-radius: 7em;
  -webkit-border-radius: 7em;
  -moz-border-radius: 7em;
  -ms-border-radius: 7em;
  -o-border-radius: 7em;
}
.bg-about{
  background-color: #94C4B4;
}

@media (max-width: 767px){
.img-new{
  max-width: 52vw;
  border-radius: 7em;
  -webkit-border-radius: 7em;
  -moz-border-radius: 7em;
  -ms-border-radius: 7em;
  -o-border-radius: 7em;
  margin: 0;
}
}














