/* 404 */
.error404{
  margin: 0;
  width: 30vw;
  height: 90vh;
  min-height: 40vw;
  max-height: 90vh;
  background: no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  position: absolute;
  z-index: 10;
  vertical-align: center;
}
.error{
  width: 100%;
  position: relative;
}
.error>span{
  color: white;
  font-weight: 600;
}